@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GangwonState', cursive;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: radial-gradient(
            circle farthest-corner at center top,
            #071021,
            #19324a
    );
    z-index: -1;
}

#stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #f6f6f6;
    border-radius: 50%;
    opacity: 0.5;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
}

/* header 부분 */
.header {
    color: #f6f6f6;
    height: 10%;
    background-color: transparent;
    padding: 8px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descdate {
    margin-right: 5px;
    display: flex;
    flex-direction: row;
}

.descdate p {
    margin: 0;
    font-size: 15px;
}

.title1{
    width: 35%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
}

.title2 {
    width: 65%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
}

.board-title {
    font-size: 20px;
    margin: 0.3rem 1rem 0.3rem 0;
    font-weight: bold;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.board-edit {
    background-color: transparent;
    font-size: 20px;
    color: white;
    margin: 1.3rem 1rem 0.3rem 0;
    font-weight: bold;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

li {
    list-style: none;
}

/* bottom 부분 */
.bottom {
    height: 90%;
    padding: 10px 30px;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-container {
    width: 100%;
    height: 85%;
    background: transparent;
}

.content-container {
    margin: 30px auto 0 auto;
    min-height: 300px;
    height: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

/* 컬럼 디자인 */

.column-list-wrapper {
    margin-left: 0.7rem;
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    scroll-margin: 8px;
    vertical-align: top;
    white-space: nowrap;
    width: 18%;
}

.list-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    position: relative;
    white-space: normal;
    width: 100%;
}

.column-list-wrapper-column-add {
    margin-left: 0.7rem;
    box-sizing: border-box;
    height: fit-content;
    display: inline-block;
    scroll-margin: 8px;
    vertical-align: top;
    white-space: nowrap;
    width: 18%;
    border: 1px solid black;
    opacity: 0.8;
}

.column-title-box {
    flex: 0 0 auto;
    min-height: 38px;
    padding: 8px;
    position: relative;
    display: flex;
    align-items: center;
}

.column-title {
    text-align: left;
    font-size: 20px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.column-edit {
    background-color: transparent;
    margin: 1px;
    font-size: 20px;
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

.board-column-name-input {
    display: none;
}

.board-column-control {
    display: none;
}


.add-board-column-box {
    width: 60%;
    margin: 1rem 0 1rem 1rem;
}


/* 카드 추가 */
.list-cards {
    height: fit-content;
}

.list-card {
    text-decoration: none;
    background-color: rgba(200, 200, 200, 0.08);
    color: black;
    margin: 10px;
    width: 90%;
    height: 3.5rem;
    display: inline-block;
}

.list-card-detail {
    text-align: center;
    width: 100%;
}

.card-components {
    border-radius: 8px;
    display: block;
    flex: 1 0 auto;
    margin: 10px;
    position: relative;
}

a {
    text-decoration: none;
    color: #9FADBC;
    cursor: pointer;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

.add-board-column-btn-box {
    font-size: 15px;
    cursor: pointer;
}

.board-column-name-input{
    display: none;
    background-color: transparent;
    margin: 1px;
    font-size: 15px;
    border: none;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

.delete-column {
    background-color: #ffffff;
    border: none;
}

/* 추가한 스타일 */
.list-container {
    position: relative;
}

.collapse {
    position: absolute;
    top: 100%; /* 버튼 아래에 위치 */
}

.title2 > button:not(:last-child) {
    margin-right: 10px; /* 요소들 간에 간격을 주는 부분 */
}

/* 모달 내의 글자 색상*/
.modal-content {
    color: #000;
}

/* 모달 안의 검색 list들 */
.list-group-item {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#selectedResultsModal {
    margin-top : 10px;
}

#selectedResultsModal > button {
    margin-bottom: 5px;
    margin-left: 5px;
}

.list-card {
    display: flex;
    justify-content: center;
}

.list-card-date {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
}

.list-card-dday{
    border-radius: 5px;
    padding: 0 5px;
    font-size: 13px;
    background-color: #FFBFBF;
}

.closebtn{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}