@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Dovemayo_gothic', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    background-color: #f5f5fa;
    /* background: radial-gradient(
            circle farthest-corner at center top,
            #071021,
            #19324a
    ); */
}

/* 배경 서식 */
#stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #f6f6f6;
    border-radius: 50%;
    opacity: 0.5;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
}

/* header 부분 - only 제목 (코끼리) */
.header {
    color: #1a1515;
    height: 15%;
    width: 100%;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    border: none;
}

.right {
    height: 100%;
    width: 35%;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle {
    height: 100%;
    width: 30%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle img {
    margin-right: 5px;
}

.left {
    height: 100%;
    width: 35%;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

/* 알림 */
.notification-icon {
    width: 40px;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.notification-icon div {
    width: 40px;
    height: 40px;
    position: relative;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-3px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(3px);
    }
}

.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-group-item span:nth-child(1) {
    width: 50%;
}
.list-group-item span:nth-child(2) {
    width: 35%;
}

.badge-bg-primary-rounded-pill {
    width: 15%;
}

.bg-primary {
    background-color: #ccc !important;
}

.new-notification {
    color: red;
    animation: shake 1.5s infinite; /* 흔들기 애니메이션 적용 */
}

.nobadge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.notification-list {
    position: absolute;
    top: 100px; /* Adjust the top position to your preference */
    right: 70px;
    width: 295px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 550px;
    overflow-y: auto;
    display: none;
    z-index: 10;
    margin-top: 45px; /* 헤더의 높이만큼 여백 추가 */
}
.notification-list-header {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 100px;
    width: 13%; /* 가로 너비를 꽉 채우도록 설정 */
    z-index: 9998; /* 헤더 위에 배치 */
}
.notification-list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: white;
}
.notification-list-item.read {
    background-color: #f0f0f0;
}

.list-group-item {
    background-color: transparent;
    cursor: pointer;
}

.offcanvas{
    background-color: #f5f5fa;
}

/* bottom 부분 */
.bottom {
    height: 85%;
    padding: 20px;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* bottom one 부분 - 내 프로젝트 text & add project 버튼*/
.bottomone {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomonewrapper{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-center {
    font-size: 20px;
    padding-left: 20px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.button-center {
    padding-right: 20px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-primary {
    background-color: #e6e6e6;
}

/*bottom two*/
.bottomtwo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomwindows {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.bottomthree {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bottomtwo - 카드들 나오는 부분 */
.floating-window {
    height: 200px;
    width: calc(25% - 20px);
    margin: 10px;
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.window-header {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d6d6;
}

.window-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.window-bottom {
    height: 30%;
    width: 100%; /* 부모 요소의 너비를 100%로 설정하여 가로 폭을 채움 */
    padding: 10px; /* 필요한 패딩값 설정 */
    background-color: transparent;
}

.window-bottom > button {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #d6d6d6;
    transition: 0.5s;
}

.window-bottom > button:hover {
    background-color: #e6e6e6;
    transition: 0.5s;
}

.window-controls {
    display: flex;
}

.window-minimize,
.window-maximize,
.window-close {
    width: 14px;
    height: 14px;
    margin-left: 8px;
    border-radius: 50%;
}

.window-minimize {
    background-color: #f7d54a;
}

.window-maximize {
    background-color: #62c462;
}

.window-close {
    background-color: #ee5f5b;
}

.window-maximize:hover {
    cursor: pointer;
    background-color: #52a352;
}
.window-close:hover{
    cursor: pointer;
    background-color: #d35350;
}

.window-content {
    height: 50%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window-content > p {
    margin-bottom: 5px;
    text-align: center;
}

/*bottom3*/
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.custom-pagination .page-item .page-link {
    cursor: pointer;
    background-color: #f6f6f6;
    color: #000;
    border-color: #d6d6d6;
}

.custom-pagination .page-item .page-link:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.mark-all-read-button {
    background-color: #dcdcdc;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 11px; /* 버튼 위치 조정 */
    right: 10px; /* 버튼 위치 조정 */
    padding: 1px 4px;
    font-size: 13px;
    z-index: 9999; /* 다른 요소보다 앞에 표시되도록 설정 */
}