@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GangwonState', cursive;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 가운데 정렬 추가 */
    align-items: center; /* 세로 가운데 정렬 추가 */
    background: radial-gradient(
            circle farthest-corner at center top,
            #071021,
            #19324a
    );
    z-index: -1;
    /* background-color: #fff;
    background-image:
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em; */
}

#stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #f6f6f6;
    border-radius: 50%;
    opacity: 0.5;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }
}

/* 카드 전체 속성 */
.card {
    background-color: #f0f0f0;
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    height: 90%;
    width: 70%;
}

.line {
    height: 0.3%;
    background-color: transparent;
    background-color: rgba(200, 200, 200, 0.2);
}

/* 카드 상단부 - 제목과 설명*/

/* 카드 제목 */
.card-title {
    font-size: 22px;
    width: auto;
    box-sizing: border-box;
    margin: 0 0 5px 0;
}

h1 {
    font-size: 22px;
}

/* 컬럼 */
.card-title4 {
    font-size: 15px;
    margin: 0 0 10px;
}

/* 담당자 제목 */
.card-title3 {
    font-size: 20px;
    width: auto;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
}

/* 댓글 제목 */
.card-title5 {
    font-size: 20px;
    width: auto;
    box-sizing: border-box;
    margin: 0 0 10px 0;
}

/* 카드 제목 수정 */
.edit-title {
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

.card-title-section {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 각 요소 사이의 간격을 최대한 늘림 */
    margin-bottom: 10px;
    height: 9%;
    width: 100%;
}

.card-buttons {
    width: 50%;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: flex-end; /* 요소들을 오른쪽으로 정렬 */
}

.card-buttons button {
    padding: 5px 10px;
}

.card-description-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*.card-description-wrapper > p:nth-child(1) {*/
/*  text-align: center;*/
/*}*/

.card-description-wrapper > p {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 0px 5px 16px 5px;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: transparent;
    background-color: rgba(200, 200, 200, 0.2);
    box-sizing: border-box; /* 수정한 부분 */
}

.card-description-wrapper > textarea {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 0px 5px 16px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    background-color: transparent;
    background-color: rgba(200, 200, 200, 0.2);
    box-sizing: border-box; /* 수정한 부분 */
    outline: none;
}


/* 사용자 선택 */

.user-select {
    width: 50%;
    height: 20%;
}

.date-section {
    display: flex;
    justify-content: end;
    width: 40%;
}



/* 카드 중반부 - user 설정 */

.user-selection {
    position: relative;
    margin-bottom: 10px;
}

.user-input-wrapper{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-selection input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    resize: none;
    outline: none;
    background-color: transparent;
    background-color: rgba(200, 200, 200, 0.2);
}

.user-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-list-item {
    padding: 10px;
    cursor: pointer;
}

.user-list-item:hover {
    background-color: #f0f0f0;
}

.selected-users {
    margin-top: 10px;
}

.selected-user {
    display: inline-block;
    padding: 5px 10px;
}

/* 카드 하반부 - 댓글 작성 및 조회 */
.comment-section {
    width: 100%;
    margin-top: 10px;
}

.comment-section > h2 {
    margin-top: 0px;
}

.comment-submit-section{
    display: flex;
    height: 6vh;
    flex-direction: row;
    margin-bottom: 10px;
}

.comment-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    background-color: transparent;
    background-color: rgba(200, 200, 200, 0.2);
    outline: none;
    overflow: hidden;
}

.comment-list {
    max-height: 30vh;
    overflow-y: auto;
}

.comment-list::-webkit-scrollbar {
    margin-left: 3px;
    width: 10px;
}

.comment-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.comment-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6c757d;
}

.comment-list::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.comment_one {
    height: 12vh;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.comment_one > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}

.comment_one > div:nth-child(2) {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 가로로 길게 정렬 */
    width: 83%;
}

.comment_one > div:nth-child(3) {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 가로로 길게 정렬 */
    justify-content: space-between;
    width: 10%;
    height: 100%;
}

.comment_one > div > img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.comment_one > div > p {
    width: 90%;
    margin: auto 0 auto 10px;
}

.comment_one > div > p:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
}

.comment_one > div > p:nth-child(2) {
    font-size: 14px;
}

.edit-form{
    width: 100%;
    display: flex;
}

#updatecomment {
    margin-left: 10px;
    margin-right: 20px;
    width: 90%;
    box-sizing: border-box;
    background-color: transparent;
    background-color: rgba(200, 200, 200, 0.2);
    outline: none;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-form-button{
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 가로로 길게 정렬 */
    justify-content: space-between;
    width: 10%;
}

.btn-secondary {
    width: 10%;
    margin-left: 2%;
    padding: 10px;
}

.btn-secondary.updateBtn,
.btn-secondary.deleteBtnn,
.btn-secondary.submitBtn,
.btn-secondary.cancelBtn {
    width: 100%;
    padding: 3px 10px;
}

.btn-secondary.date {
    padding: 5px 10px;
}

/* 달력 */
#datepickerContainer {
    z-index: 1;
    position: relative;
}

#datepicker {
    position: absolute;
}

.date-section {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-section > p {
    margin: auto 20px;
}

.date{
    width: 20%;
}

.deleteCard {
    width: 25%;
}

.gotoBoard {
    width: 10%;
}