:root {
    /* COLORS */
    --white: #e9e9e9;
    --gray: #333;
    --blue: #0367a6;
    --lightblue: #000000;

    /* RADII */
    --button-radius: 0.4rem;

    /* SIZES*/
    --max-width: 750px;
    --max-height: 600px;

    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Dovemayo_gothic', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-size: cover;
    background-image: url("https://images.klipfolio.com/website/public/79b53931-b472-4cd5-85bc-f19df936cb9b/Best_Team_Collaboration_Tools.png");
    /*background: url("");*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    display: grid;
    height: 100%;
    place-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.form__title {
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.25rem;
}

.link {
    color: var(--gray);
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
}

.head-icon{
    width: 100%;
    height: 10%;
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
}

.container {
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: 85%;
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    width: 100%;
}

.container__form {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.container--login {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .container--login {
    transform: translateX(100%);
}

.container--signup {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.container.right-panel-active .container--signup {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}

.container__overlay {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

.container.right-panel-active .container__overlay {
    transform: translateX(-100%);
}

.overlay {
    background-color: var(--lightblue);
    background-color: #CAEDFF;
    /*background: url("");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay__panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

.overlay--left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay--left {
    transform: translateX(0);
}

.overlay--right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay--right {
    transform: translateX(20%);
}

.btn {
    border: none;
    background-color: var(--lightblue);
    border-radius: 12px;
    color: var(--white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 3rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    WIDTH: 97%;
}

.form > .btn {
    margin-top: 1.5rem;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
}

.input {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
}

#timer , #timerValue {
    font-size: 14px;
}

.inputs{
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 90%;
}

.modal {
    width: 100%;
}

#check-email-btn{
    
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
/*vote html css*/
.list-group-item {
    height: auto;
    min-height: 220px;
}
a.list-group-item.active small {
    color: #fff;
}
a.list-group-item .vs-title {
    font-size: 110px;
}
.fa {
    font-size: 100px;
    color: #ffffff;
}
.social a {
    text-decoration: none;
}

a {
    color: black;
    text-underline: none;
    text-decoration: none;
}

a:hover{
    color: #002cc4;
}

#login-kakao-btn {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.8rem 2.5rem;
    transition: transform 80ms ease-in;
    background-color: #fae100;
    color: #371d1e;
    WIDTH: 97%;
    margin-top: 20px;
}

#login-google-btn {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.8rem 2.5rem;
    transition: transform 80ms ease-in;
    background-color: #4285F4;
    color: #FFFFFF;
    margin-top: 20px;
    WIDTH: 97%;
    text-transform: uppercase;
}

#login-naver-btn {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.8rem 2.5rem;
    transition: transform 80ms ease-in;
    background-color: #2DB400;
    color: #FFFFFF;
    margin-top: 20px;
    WIDTH: 97%;
    text-transform: uppercase;
}