@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Dovemayo_gothic', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #101014;
    background-color: #f5f5fa;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 가운데 정렬 추가 */
    align-items: center; /* 세로 가운데 정렬 추가 */
}

/* 상단 메뉴 */
.top {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
}

.right {
    height: 100%;
    width: 35%;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle {
    height: 100%;
    width: 30%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle img {
    margin-right: 5px;
}

.left {
    height: 100%;
    width: 35%;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}


/* 알림 */
.notification-icon {
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.notification-icon div {
    position: relative;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-3px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(3px);
    }
}

.new-notification {
    color: red;
    animation: shake 1.5s infinite; /* 흔들기 애니메이션 적용 */
}

.nobadge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.notification-list {
    position: absolute;
    top: 90px; /* Adjust the top position to your preference */
    right: 70px;
    width: 295px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 550px;
    overflow-y: auto;
    display: none;
    z-index: 10;
    margin-top: 45px; /* 헤더의 높이만큼 여백 추가 */
}

.notification-list-header {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 90px;
    width: 13%; /* 가로 너비를 꽉 채우도록 설정 */
    z-index: 9998; /* 헤더 위에 배치 */
}

.notification-list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: white;
}

.notification-list-item.read {
    background-color: #f0f0f0;
}


/* 하단 게시판 */

.bottom {
    height: 85vh;
    width: 100%;
}

.bottom-container {
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.bottom-top {
    padding-top: 20px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bottom-bottom {
    padding-bottom: 20px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bottom-top-left,
.bottom-top-right,
.bottom-bottom-left,
.bottom-bottom-right {
    padding: 10px 30px;
    height: 100%;
    width: 50%;
}

/*하단 게시판*/
.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-group-item span:nth-child(1) {
    width: 50%;
}

.list-group-item span:nth-child(2) {
    width: 35%;
}

.badge-bg-primary-rounded-pill {
    width: 15%;
}

.bg-primary {
    background-color: #ccc !important;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.category-title {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-title a:nth-child(2) {
    font-size: 16px;
    color: #888888;
}

.category-title a:hover {
    font-weight: bold;
    color: #a9a9a9;
}
.sidemenu {
    display: flex;
    flex-direction: column;
}

.sidemenu div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.list-group-item {
    background-color: transparent;
    cursor: pointer;
}

.offcanvas {
    background-color: #f5f5fa;
}

.mini-list {
    font-size: 14px;
    color: #a9a9a9;
}

.mark-all-read-button {
    background-color: #dcdcdc;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 11px; /* 버튼 위치 조정 */
    right: 10px; /* 버튼 위치 조정 */
    padding: 1px 4px;
    font-size: 13px;
    z-index: 9999; /* 다른 요소보다 앞에 표시되도록 설정 */
}