#cardArea {
    width: 17%;
    margin: 1%;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title,
.card-text,
.mb-1,
small {
    margin: 5px 0; /* 원하는 간격으로 조절 가능 */
}

.small {
    font-size: 12px; /* 원하는 글꼴 크기로 조절 가능 */
}

.card-title {
    flex: 0 0 35%; /* 원하는 너비(예: 50%)로 조절 가능 */
    text-align: start;
}
.card-text {
    flex: 0 0 75%; /* 원하는 너비(예: 50%)로 조절 가능 */
    text-align: start;
}

/* 상단바 css 추가 */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Dovemayo_gothic', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #101014;
    background-color: #f5f5fa;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 가운데 정렬 추가 */
    align-items: center; /* 세로 가운데 정렬 추가 */
}

/* header 부분 - only 제목 (코끼리) */
.header {
    color: #1a1515;
    height: 15vh;
    width: 100%;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    border: none;
}

.right {
    height: 100%;
    width: 35%;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle {
    height: 100%;
    width: 30%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.middle img {
    margin-right: 5px;
}

.left {
    height: 100%;
    width: 35%;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}


/* 알림 */
.notification-icon {
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
}

.notification-icon div {
    position: relative;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-3px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(3px);
    }
}

.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-group-item span:nth-child(1) {
    width: 50%;
}

.list-group-item span:nth-child(2) {
    width: 35%;
}

.new-notification {
    color: red;
    animation: shake 1.5s infinite; /* 흔들기 애니메이션 적용 */
}

.nobadge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
}

.notification-list {
    position: absolute;
    top: 100px; /* Adjust the top position to your preference */
    right: 70px;
    width: 295px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 550px;
    overflow-y: auto;
    display: none;
    z-index: 10;
    margin-top: 45px; /* 헤더의 높이만큼 여백 추가 */
}

.notification-list-header {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 100px;
    width: 13%; /* 가로 너비를 꽉 채우도록 설정 */
    z-index: 9998; /* 헤더 위에 배치 */
}

.notification-list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background-color: white;
}

.notification-list-item.read {
    background-color: #f0f0f0;
}

.list-group-item {
    background-color: transparent;
    cursor: pointer;
}

.offcanvas {
    background-color: #f5f5fa;
}

/* bottom 부분 */
.bottom {
    height: 85vh;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* bottom one 부분 - 카테고리 text & 게시글 생성 버튼*/
.bottomone {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bottomtwo {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.bottomthree {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomonewrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-center {
    font-size: 1.8em;
    height: 100%;
    width: 18%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.button-center {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-primary {
    background-color: #e6e6e6;
}

.bottomtwo::-webkit-scrollbar {
    margin-left: 5px;
    width: 10px;
}

.bottomtwo::-webkit-scrollbar-track {
    background-color: transparent;
}

.bottomtwo::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #c4c4c4;
}

.bottomtwo::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

/*bottom3*/
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    margin: 0;
}

.pagination {
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.custom-pagination .page-item .page-link {
    cursor: pointer;
    background-color: #f6f6f6;
    color: #000;
    border-color: #d6d6d6;
}

.custom-pagination .page-item .page-link:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

/*하단 게시판*/
.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-group-item span:nth-child(1) {
    width: 50%;
}

.list-group-item span:nth-child(2) {
    width: 35%;
}

.badge-bg-primary-rounded-pill {
    width: 15%;
}

.bg-primary {
    background-color: #C8D9EB !important;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.category-title {
    font-size: 18px;
}

.sidemenu {
    display: flex;
    flex-direction: column;
}

.sidemenu div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.list-group-item {
    background-color: transparent;
    cursor: pointer;
}

.offcanvas {
    background-color: #f5f5fa;
}

.mini-list {
    font-size: 14px;
    color: #a9a9a9;
}


/* 아래는 건욱님 css 코드 */
.feature-container {
    width: 16%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.feature {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1px 10px;
    margin: 0.8em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

/* 새로 추가한 스타일 */
.user-info-container {
    box-sizing: unset;
    display: flex;
    flex-direction: column; /* 세로 정렬로 변경 */
    justify-content: flex-start;
    align-items: center; /* 가로 정렬을 중앙에서 시작하도록 변경 */
    width: 50%;
    height: 100vh;
    background-color: white;
    border: 1px solid #ddd;
    margin-left: 10%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*      position: fixed;
          top: 55%; !* 55%에서 50%로 변경 *!
          left: 50%;
          transform: translate(-50%, -50%);*/
}

.user-info {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 90%;
}

/* 수정 및 삭제 버튼 스타일 */
.edit-delete-buttons {
    margin-left: auto; /* 우측으로 정렬 */
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.edit-delete-buttons button {
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

.user-checkbox {
    margin-right: 10px;
}

.user-info-list {
    display: flex;
    flex-direction: column; /* 항목을 수직으로 쌓습니다 */
    max-height: 90vh; /* 컨텐츠의 최대 높이 설정 */
    overflow-y: auto; /* 컨텐츠가 넘칠 때 수직 스크롤바를 추가합니다 */
    gap: 10px;
    width: 80%;
    justify-content: flex-start; /* 요소들을 왼쪽 정렬로 유지 */
    align-items: flex-start; /* 요소들을 위쪽 정렬로 유지 */
}

.mark-all-read-button {
    background-color: #dcdcdc;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 11px; /* 버튼 위치 조정 */
    right: 10px; /* 버튼 위치 조정 */
    padding: 1px 4px;
    font-size: 13px;
    z-index: 9999; /* 다른 요소보다 앞에 표시되도록 설정 */
}

/*!* 각 항목 사이의 위아래 간격을 설정합니다. *!*/
/*#post-list ul li {*/
/*    margin-top : 50px;*/
/*    margin-bottom: 40px;*/
/*}*/

/*!* 제목 스타일을 수정하여 점을 없앱니다. *!*/
/*#post-list ul li h2::before {*/
/*    content: "제목 : "; !* 제목 앞에 추가할 내용 *!*/
/*    font-weight: normal; !* 기본 글꼴 두께로 변경 *!*/
/*}*/

/*!* 카테고리 스타일을 수정하여 점을 없앱니다. *!*/
/*#post-list ul li h3::before {*/
/*    content: "카테고리 : "; !* 카테고리 앞에 추가할 내용 *!*/
/*    font-weight: normal; !* 기본 글꼴 두께로 변경 *!*/
/*}*/

/*!* 작성날짜 스타일을 수정하여 점을 없앱니다. *!*/
/*#post-list ul li h5::before {*/
/*    content: "작성날짜 : "; !* 작성날짜 앞에 추가할 내용 *!*/
/*    font-weight: normal; !* 기본 글꼴 두께로 변경 *!*/
/*}*/


h1 {
    font-size: 35px; /* 원하는 크기로 조정하세요 */
}