<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back Users Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .header {
            background-color: #555;
            color: white;
            text-align: center;
            padding: 10px;
        }
        .feature-container {
            width : 120%;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .feature {
            width: 6%;
            background-color: white;
            border: 1px solid #ddd;
            padding: 1px 10px;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            font-size: 15px;
            text-align: center;
        }
        /* 새로 추가한 스타일 */
        .user-info-container {
            display: flex;
            flex-direction: column; /* 세로 정렬로 변경 */
            justify-content: flex-start;
            align-items: center; /* 가로 정렬을 중앙에서 시작하도록 변경 */
            width: 30%;
            height: 80vh;
            background-color: white;
            border: 1px solid #ddd;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: fixed;
            top: 55%; /* 55%에서 50%로 변경 */
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .user-info {
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            display: flex;
            align-items: center;
            margin: 5px 0;
            width : 90%;
        }
        /* 수정 및 삭제 버튼 스타일 */
        .edit-delete-buttons {
            margin-left: auto; /* 우측으로 정렬 */
            margin-top: auto;
            display: flex;
            flex-direction: row;
        }
        .edit-delete-buttons button {
            margin-left: 5px;
            margin-top: 5px;
            padding: 5px 15px;
            font-size: 16px;
            cursor: pointer;
        }
        .user-checkbox {
            margin-right: 10px;
        }

        .user-info-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 80%;
            justify-content: flex-start; /* 요소들을 왼쪽 정렬로 유지 */
            align-items: flex-start; /* 요소들을 위쪽 정렬로 유지 */
        }
    </style>
</head>
<body>
<div class="header">
    <h1>코끼리</h1>
</div>
<div class="feature-container">
    <div class="feature" id="profile">
        <h2>프로필 수정</h2>
    </div>
    <div class="feature" id="myPosts">
        <h2>작성한 게시글</h2>
    </div>
    <div class="feature" id="myComments">
        <h2>작성한 댓글</h2>
    </div>
</div>
<div class="user-info-container">
    <!-- 유저 정보를 출력할 공간 -->
    <div class="user-info-list">
        <!-- 여기에 각 페이지별로 유저 정보가 출력될 것입니다. -->
    </div>

    <!-- 페이지 네비게이션 -->
    <div class="pagination" style="position: fixed; bottom: 50px; left: 50%; transform: translateX(-50%);">
        <!-- 페이지 번호 버튼들이 여기에 생성될 것입니다. -->
    </div>

    <div class="edit-delete-buttons">
        <button id="editButton">권한 수정</button>
        <button id="deleteButton">회원 삭제</button>
    </div>

    <!-- 나머지 내용은 유지하고, 필요한 부분만 수정합니다. -->

    <script>
        const userPerPage = 7;
        const profileButton = document.getElementById('profile');
        const myPostsButton = document.getElementById('myPosts');
        const myCommentsButton = document.getElementById('myComments');
        const userInfoList = document.querySelector('.user-info-list');
        const paginationContainer = document.querySelector('.pagination');
        const editButton = document.getElementById('editButton');
        const deleteButton = document.getElementById('deleteButton'); // 추가한 부분

        let currentPage = 1;
        let posts = [];
        let comments = [];

        // 새로 추가한 내용
        editButton.style.display = 'none';
        deleteButton.style.display = 'none';

        profileButton.addEventListener('click', () => {
            currentPage = 1;
            fetchAndRenderUsers();
            editButton.textContent = '프로필수정';
            deleteButton.textContent = '회원탈퇴';
            // 권한 수정, 회원 삭제 버튼 표시
            editButton.style.display = 'block';
            deleteButton.style.display = 'block';
            // 다른 기능 버튼의 활성화 클래스 제거
            myCommentsButton.classList.remove('active');
            myPostsButton.classList.remove('active');
            // 현재 기능 버튼에 활성화 클래스 추가
            profileButton.classList.add('active');
        });

        myPostsButton.addEventListener('click', () => {
            currentPage = 1;
            fetchAndRenderPosts();
            editButton.textContent = '게시글 수정';
            deleteButton.textContent = '게시글 삭제';
            // 권한 수정, 회원 삭제 버튼 표시
            editButton.style.display = 'block';
            deleteButton.style.display = 'block';
            // 다른 기능 버튼의 활성화 클래스 제거
            myCommentsButton.classList.remove('active');
            profileButton.classList.remove('active');
            // 현재 기능 버튼에 활성화 클래스 추가
            myPostsButton.classList.add('active');
        });

        myCommentsButton.addEventListener('click', () => {
            currentPage = 1;
            fetchAndRenderComments();
            editButton.textContent = '댓글 수정';
            deleteButton.textContent = '댓글 삭제';
            // 권한 수정, 회원 삭제 버튼 표시
            editButton.style.display = 'block';
            deleteButton.style.display = 'block';
            // 다른 기능 버튼의 활성화 클래스 제거
            myPostsButton.classList.remove('active');
            profileButton.classList.remove('active')
            // 현재 기능 버튼에 활성화 클래스 추가
            myCommentsButton.classList.add('active');
        });

        paginationContainer.addEventListener('click', event => {
            if (event.target.classList.contains('page-button')) {
                currentPage = parseInt(event.target.dataset.page);

                if (myPostsButton.classList.contains('active')) {
                    renderPostsForPage(currentPage);
                } else if (myCommentsButton.classList.contains('active')) {
                    renderCommentsForPage(currentPage);
                }
            }
        });

        // 작성한 게시물 조회 API와 연결
        function fetchAndRenderPosts() {
            fetch('/api/user/posts', {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch posts');
                    }
                    return response.json();
                })
                .then(responsePosts => {
                    posts = responsePosts;
                    totalPosts = posts.length;
                    renderPagination();
                    userInfoList.innerHTML = '';
                    renderPostsForPage(currentPage);
                })
                .catch(error => console.error('Error fetching posts:', error));
        }


        // 수정 버튼 클릭 시 실행되는 함수 (수정한 부분만 포함)
        editButton.addEventListener('click', () => {
            if (myPostsButton.classList.contains('active')) {
                const checkedPostCheckboxes = document.querySelectorAll('.user-checkbox:checked');

                if (checkedPostCheckboxes.length === 1) {
                    const postId = checkedPostCheckboxes[0].getAttribute('data-postid');
                    const defaultTitle = checkedPostCheckboxes[0].getAttribute('data-title');
                    const defaultContent = checkedPostCheckboxes[0].getAttribute('data-content');
                    const defaultCompleted = checkedPostCheckboxes[0].getAttribute('data-completed') === 'true';

                    const popupWidth = 400;
                    const popupHeight = 300;
                    const left = (window.innerWidth - popupWidth) / 2;
                    const top = window.innerHeight / 2 - popupHeight / 2;
                    const popupWindow = window.open('', 'Update Post', `width=${popupWidth},height=${popupHeight},left=${left},top=${top}`);

                    const popupContent = `
                <h3>게시글 수정</h3>
                <label for="title">제목:</label>
                <input type="text" id="title" name="title" value="${defaultTitle}" required><br>
                <label for="content">내용:</label>
                <textarea id="content" name="content" required>${defaultContent}</textarea><br>
                <label for="completed">완료 여부:</label>
                <input type="checkbox" id="completed" name="completed" ${defaultCompleted ? 'checked' : ''}><br>
                <button id="updateButton">수정</button>
            `;

                    // 팝업 창에 HTML 내용을 쓰기
                    popupWindow.document.body.innerHTML = popupContent;

                    const myPostsButton = popupWindow.document.getElementById('updateButton');

                    myPostsButton.addEventListener('click', () => {
                        const title = popupWindow.document.getElementById('title').value;
                        const content = popupWindow.document.getElementById('content').value;
                        const completed = popupWindow.document.getElementById('completed').checked;

                        const updatedData = {
                            title: title,
                            content: content,
                            completed: completed
                        };

                        fetch(`/api/user/posts/${postId}`, {
                            method: 'PUT',
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.getItem('accessToken'),
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(updatedData)
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Failed to update post');
                                }
                                return response.text();
                            })
                            .then(responseText => {
                                alert(responseText);
                                fetchAndRenderPosts();
                            })
                            .catch(error => console.error('Error updating post:', error));

                        popupWindow.close();
                    });
                } else if (checkedPostCheckboxes.length > 1) {
                    alert('하나의 게시글만 선택해주세요.');
                } else {
                    alert('수정할 게시글을 선택해주세요.');
                }
            } else if (myCommentsButton.classList.contains('active')) {
                const checkedCommentCheckboxes = document.querySelectorAll('.user-checkbox:checked');

                if (checkedCommentCheckboxes.length === 1) {
                    const commentId = checkedCommentCheckboxes[0].getAttribute('data-commentid');
                    const defaultContent = checkedCommentCheckboxes[0].getAttribute('data-content');

                    const popupWidth = 400;
                    const popupHeight = 300;
                    const left = (window.innerWidth - popupWidth) / 2;
                    const top = window.innerHeight / 2 - popupHeight / 2;
                    const popupWindow = window.open('', 'Update Comment', `width=${popupWidth},height=${popupHeight},left=${left},top=${top}`);

                    const popupContent = `
                <h3>댓글 수정</h3>
                <label for="content">내용:</label>
                <textarea id="content" name="content" required>${defaultContent}</textarea><br>
                <button id="updateCommentButton">수정</button>
            `;

                    popupWindow.document.body.innerHTML = popupContent;

                    const myCommentsButton = popupWindow.document.getElementById('updateCommentButton');

                    myCommentsButton.addEventListener('click', () => {
                        const content = popupWindow.document.getElementById('content').value;

                        const updatedData = {
                            content: content
                        };

                        fetch(`/api/user/comments/${commentId}`, {
                            method: 'PUT',
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.getItem('accessToken'),
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(updatedData)
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Failed to update comment');
                                }
                                return response.text();
                            })
                            .then(responseText => {
                                alert(responseText);
                                fetchAndRenderComments();
                            })
                            .catch(error => console.error('Error updating comment:', error));

                        popupWindow.close();
                    });
                } else if (checkedCommentCheckboxes.length > 1) {
                    alert('하나의 댓글만 선택해주세요.');
                } else {
                    alert('수정할 댓글을 선택해주세요.');
                }
            } else if (profileButton.classList.contains('active')) {
                const popupWidth = 400;
                const popupHeight = 400;
                const left = (window.innerWidth - popupWidth) / 2;
                const top = window.innerHeight / 2 - popupHeight / 2;
                const popupWindow = window.open('', 'Update Profile', `width=${popupWidth},height=${popupHeight},left=${left},top=${top}`);


                fetch('/api/users/profile')
                    .then(response => response.json())
                    .then(profileData => {
                        const popupContent = `
                 <h3>프로필 수정</h3>
                <label for="passwordCheckToggle">비밀번호 변경:</label>
                <input type="checkbox" id="passwordCheckToggle"><br>
                <label for="newPassword">비밀번호:</label>
                <input type="password" id="newPassword" name="newPassword" disabled required><br>
                <label for="newNickname">닉네임:</label>
                <input type="text" id="newNickname" name="newNickname" value="${profileData.nickname}" required><br>
                <label for="newIntroduction">자기소개:</label>
                <textarea id="newIntroduction" name="newIntroduction" required>${profileData.introduction}</textarea><br>
                <button id="updateProfileButton">수정</button>
                <button id="cancelProfileButton">취소</button>
            `;

                        popupWindow.document.body.innerHTML = popupContent;

                        const updateProfileButton = popupWindow.document.getElementById('updateProfileButton');
                        const cancelProfileButton = popupWindow.document.getElementById('cancelProfileButton');
                        const passwordCheckToggle = popupWindow.document.getElementById('passwordCheckToggle');
                        const newPasswordInput = popupWindow.document.getElementById('newPassword');
                        const newNicknameInput = popupWindow.document.getElementById('newNickname');
                        const newIntroductionInput = popupWindow.document.getElementById('newIntroduction');

                        let isPasswordChecked = false;

                        passwordCheckToggle.addEventListener('click', () => {
                            isPasswordChecked = !isPasswordChecked;
                            newPasswordInput.disabled = !isPasswordChecked;
                        });

                        updateProfileButton.addEventListener('click', () => {
                            const newPassword = newPasswordInput.value;
                            const newNickname = newNicknameInput.value;
                            const newIntroduction = newIntroductionInput.value;

                            const updatedData = {
                                password: isPasswordChecked ? newPassword : null,
                                nickname: newNickname,
                                introduction: newIntroduction
                            };

                            fetch('/api/users/profile', {
                                method: 'PUT',
                                headers: {
                                    'Authorization': 'Bearer ' + localStorage.getItem('accessToken'),
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(updatedData)
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Failed to update profile');
                                    }
                                    return response.text();
                                })
                                .then(responseText => {
                                    alert(responseText);
                                    fetchAndRenderUsers(); // 정보 업데이트 후 화면 갱신
                                    popupWindow.close();
                                })
                                .catch(error => console.error('Error updating profile:', error));
                        });

                        cancelProfileButton.addEventListener('click', () => {
                            popupWindow.close();
                        });
                    })
                    .catch(error => console.error('Error fetching profile data:', error));
            }

        });



        // 삭제 버튼 클릭 시 실행되는 함수
        deleteButton.addEventListener('click', () => {
            const checkedPostCheckboxes = document.querySelectorAll('.user-checkbox:checked');

            if (myPostsButton.classList.contains('active')) {
                if (checkedPostCheckboxes.length === 1) {
                    const postId = checkedPostCheckboxes[0].getAttribute('data-postid');

                    // 확인 팝업 띄우기
                    const confirmation = confirm('게시글을 삭제하시겠습니까?');

                    if (confirmation) {
                        // 게시글 삭제 API 호출
                        fetch(`/api/user/posts/${postId}`, {
                            method: 'DELETE',
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                            }
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Failed to delete post');
                                }
                                return response.text();
                            })
                            .then(responseText => {
                                alert(responseText);
                                fetchAndRenderPosts(); // 삭제 후 화면 갱신
                            })
                            .catch(error => console.error('Error deleting post:', error));
                    }
                } else if (checkedPostCheckboxes.length > 1) {
                    alert('하나의 게시글만 선택해주세요.');
                } else {
                    alert('삭제할 게시글을 선택해주세요.');
                }
            } else if (myCommentsButton.classList.contains('active')) {
                const checkedCommentCheckboxes = document.querySelectorAll('.user-checkbox:checked');

                if (checkedCommentCheckboxes.length === 1) {
                    const commentId = checkedCommentCheckboxes[0].getAttribute('data-commentid');

                    // 확인 팝업 띄우기
                    const confirmation = confirm('댓글을 삭제하시겠습니까?');

                    if (confirmation) {
                        // 댓글 삭제 API 호출
                        fetch(`/api/user/comments/${commentId}`, {
                            method: 'DELETE',
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                            }
                        })
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Failed to delete comment');
                                }
                                return response.text();
                            })
                            .then(responseText => {
                                alert(responseText);
                                fetchAndRenderComments(); // 삭제 후 화면 갱신
                            })
                            .catch(error => console.error('Error deleting comment:', error));
                    }
                } else if (checkedCommentCheckboxes.length > 1) {
                    alert('하나의 댓글만 선택해주세요.');
                } else {
                    alert('삭제할 댓글을 선택해주세요.');
                }
            } else if (profileButton.classList.contains('active')) {
                const confirmation = confirm('회원 탈퇴를 진행하시겠습니까?');

                if (confirmation) {
                    // 회원 탈퇴 API 호출
                    fetch('/api/users/signOut', {
                        method: 'DELETE',
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                        }
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to sign out');
                            }
                            return response.json();
                        })
                        .then(responseData => {
                            // 회원 탈퇴 성공 처리 및 새로 로그인 화면 등으로 이동
                            alert(responseData.message); // 성공 메시지 출력
                            // 여기에 새로 로그인 화면으로 이동하는 코드 추가
                        })
                        .catch(error => console.error('Error signing out:', error));
                } else {
                    // 취소된 경우에 대한 처리
                    alert('회원 탈퇴가 취소되었습니다.');
                }
            }

        });



        // 작성한 댓글 조회 API와 연결
        function fetchAndRenderComments() {
            fetch('/api/user/comments', {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch comments');
                    }
                    return response.json();
                })
                .then(responseComments => {
                    comments = responseComments;
                    totalComments = comments.length;
                    renderPagination();
                    userInfoList.innerHTML = '';
                    renderCommentsForPage(currentPage);
                })
                .catch(error => console.error('Error fetching comments:', error));
        }

        function fetchAndRenderUsers() {
            fetch('/api/users/profile',{
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch user information');
                    }
                    return response.json();
                })
                .then(responseUsers => {
                    users = responseUsers; // 사용자 목록을 변수에 할당
                    totalUsers = users.length;
                    renderPagination();
                    userInfoList.innerHTML = '';
                    renderUsersForPage(currentPage);
                })
                .catch(error => console.error('Error fetching user information:', error));
        }


        function renderPagination() {
            let totalPages;

            if (myPostsButton.classList.contains('active')) {
                totalPages = Math.ceil(posts.length / userPerPage);
            } else if (myCommentsButton.classList.contains('active')) {
                totalPages = Math.ceil(comments.length / userPerPage);
            }

            paginationContainer.innerHTML = '';

            for (let i = 1; i <= totalPages; i++) {
                const pageButton = document.createElement('button');
                pageButton.classList.add('page-button');
                pageButton.textContent = i;
                pageButton.dataset.page = i;
                paginationContainer.appendChild(pageButton);
            }
        }

        function renderUsersForPage(page) {
            const usersToShow = users;

            userInfoList.innerHTML = '';


            const userDiv = document.createElement('div');
            userDiv.classList.add('user-info');

            const username = usersToShow.username;
            const password = usersToShow.password;
            const nickname = usersToShow.nickname;
            const introduction = usersToShow.introduction;

            // 비밀번호를 최대 8자리까지 '*' 문자로 표시
            const maskedPassword = usersToShow.password.length > 8 ? '*'.repeat(8) : '*'.repeat(usersToShow.password.length);

            userDiv.innerHTML = `
        <table>
      <tr>
        <td>유저 아이디 : </td>
        <td>${usersToShow.username}</td>
    </tr>
    <tr>
        <td>비밀번호 : </td>
        <td>${maskedPassword}</td>
    </tr>
    <tr>
        <td>닉네임 : </td>
        <td>${usersToShow.nickname}</td>
    </tr>
    <tr>
        <td>자기소개 : </td>
        <td>${usersToShow.introduction}</td>
    </tr>
        </table>
    `;
            userInfoList.appendChild(userDiv);
        }

        function renderPostsForPage(page) {
            const startIndex = (page - 1) * userPerPage;
            const endIndex = startIndex + userPerPage;
            const postsToShow = posts.slice(startIndex, endIndex);

            userInfoList.innerHTML = '';

            postsToShow.forEach(post => {
                const postDiv = document.createElement('div');
                postDiv.classList.add('user-info');
                postDiv.innerHTML = `
            <table>
                <tr>
                    <td><input type="checkbox" class="user-checkbox" data-postid="${post.id}" data-title="${post.title}" data-content="${post.content}"  data-completed="${post.completed}"></td>
                    <td>게시글 작성자 : </td>
                    <td>${post.username}(${post.nickname})</td>
                <tr>
                    <td></td>
                    <td>게시글 제목 : </td>
                    <td>${post.title}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>게시글 내용 : </td>
                    <td>${post.content.substring(0, 50)}...</td>
                </tr>
            </table>
        `;
                userInfoList.appendChild(postDiv);
            });
        }



        // 댓글 정보를 해당 페이지에 표시하는 함수
        function renderCommentsForPage(page) {
            const startIndex = (page - 1) * userPerPage;
            const endIndex = startIndex + userPerPage;
            const commentsToShow = comments.slice(startIndex, endIndex);

            userInfoList.innerHTML = '';

            commentsToShow.forEach(comment => {
                const commentDiv = document.createElement('div');
                commentDiv.classList.add('user-info');
                commentDiv.innerHTML = `
            <table>
                 <tr>
                    <td><input type="checkbox" class="user-checkbox" data-commentid="${comment.id}" data-content="${comment.content}"></td>
                    <td>댓글 작성자 : </td>
                    <td>${comment.username}(${comment.nickname})</td>
                </tr>
                <tr>
                    <td></td>
                    <td>댓글 내용 : </td>
                    <td>${comment.content}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>게시글 제목 : </td>
                    <td>${comment.postTitle}</td>
            </table>
        `;
                userInfoList.appendChild(commentDiv);
            });
        }

        // 최초 로딩 시에는 아무런 정보도 표시하지 않습니다.
        // renderUsersForPage(currentPage);

    </script>
</body>
</html>
