<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back User Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .header {
            background-color: #555;
            color: white;
            text-align: center;
            padding: 10px;
        }
        .feature-container {
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .feature {
            width: 6%;
            background-color: white;
            border: 1px solid #ddd;
            padding: 1px 10px;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            font-size: 15px;
            text-align: center;
        }
        /* 새로 추가한 스타일 */
        .user-info-container {
            display: flex;
            flex-direction: column; /* 세로 정렬로 변경 */
            justify-content: flex-start;
            align-items: center; /* 가로 정렬을 중앙에서 시작하도록 변경 */
            width: 30%;
            height: 80vh;
            background-color: white;
            border: 1px solid #ddd;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: fixed;
            top: 55%; /* 55%에서 50%로 변경 */
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .user-info {
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            display: flex;
            align-items: center;
            margin: 5px 0;
            width : 90%;
        }
        /* 수정 및 삭제 버튼 스타일 */
        .edit-delete-buttons {
            margin-left: auto; /* 우측으로 정렬 */
            margin-top: auto;
            display: flex;
            flex-direction: row;
        }
        .edit-delete-buttons button {
            margin-left: 5px;
            margin-top: 5px;
            padding: 5px 15px;
            font-size: 16px;
            cursor: pointer;
        }
        .user-checkbox {
            margin-right: 10px;
        }

        .user-info-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 80%;
            justify-content: flex-start; /* 요소들을 왼쪽 정렬로 유지 */
            align-items: flex-start; /* 요소들을 위쪽 정렬로 유지 */
        }
    </style>
</head>
<body>
<div class="header">
    <h1>코끼리</h1>
</div>
<div class="feature-container">
    <div class="feature" id="userManagement">
        <h2>회원 관리</h2>
    </div>
    <div class="feature" id="postManagement">
        <h2>게시물 관리</h2>
    </div>
    <div class="feature" id="commentManagement">
        <h2>댓글 관리</h2>
    </div>
</div>

<!-- 새로 추가한 내용 -->
<div class="user-info-container">
    <!-- 유저 정보를 출력할 공간 -->
    <div class="user-info-list">
        <!-- 여기에 각 페이지별로 유저 정보가 출력될 것입니다. -->
    </div>

    <!-- 페이지 네비게이션 -->
    <div class="pagination" style="position: fixed; bottom: 50px; left: 50%; transform: translateX(-50%);">
        <!-- 페이지 번호 버튼들이 여기에 생성될 것입니다. -->
    </div>

    <div class="edit-delete-buttons">
        <button id="editButton">권한 수정</button>
        <button id="deleteButton">회원 삭제</button>
    </div>

    <!-- 여러 개의 사용자 정보를 생성하여 표시 -->
    <!--    <div class="user-info">-->
    <!--        <input type="checkbox" class="user-checkbox">-->
    <!--        <p>사용자 정보를 표시하는 부분</p>-->
    <!--    </div>-->
    <!--    <div class="user-info">-->
    <!--        <input type="checkbox" class="user-checkbox">-->
    <!--        <p>다른 사용자 정보를 표시하는 부분</p>-->
    <!--    </div>-->
    <!-- 추가적인 사용자 정보 표시 -->

    <!-- 수정 삭제 버튼을 여기에 이동 -->

</div>


<script>
    const userPerPage = 7;
    const userManagementButton = document.getElementById('userManagement');
    const postManagementButton = document.getElementById('postManagement');
    const commentManagementButton = document.getElementById('commentManagement');
    const userInfoList = document.querySelector('.user-info-list');
    const paginationContainer = document.querySelector('.pagination');
    const editButton = document.getElementById('editButton');
    const deleteButton = document.getElementById('deleteButton'); // 추가한 부분

    let currentPage = 1;
    let totalUsers = 0;
    let users = []; // 사용자 정보를 저장할 배열
    let posts = [];
    let comments = [];

    // 새로 추가한 내용
    editButton.style.display = 'none';
    deleteButton.style.display = 'none';

    userManagementButton.addEventListener('click', () => {
        currentPage = 1;
        users = [];
        posts = [];
        comments = [];
        fetchAndRenderUsers();
        editButton.textContent = '권한 수정';
        deleteButton.textContent = '회원 삭제';
        // 권한 수정, 회원 삭제 버튼 표시
        editButton.style.display = 'block';
        deleteButton.style.display = 'block';
        // 다른 기능 버튼의 활성화 클래스 제거
        postManagementButton.classList.remove('active');
        commentManagementButton.classList.remove('active');
        // 현재 기능 버튼에 활성화 클래스 추가
        userManagementButton.classList.add('active');
    });

    postManagementButton.addEventListener('click', () => {
        currentPage = 1;
        users = [];
        posts = [];
        comments = [];
        fetchAndRenderPosts();
        editButton.textContent = '게시글 숨김';
        deleteButton.textContent = '게시글 삭제';
        // 권한 수정, 회원 삭제 버튼 표시
        editButton.style.display = 'block';
        deleteButton.style.display = 'block';
        // 다른 기능 버튼의 활성화 클래스 제거
        userManagementButton.classList.remove('active');
        commentManagementButton.classList.remove('active');
        // 현재 기능 버튼에 활성화 클래스 추가
        postManagementButton.classList.add('active');
    });

    commentManagementButton.addEventListener('click', () => {
        currentPage = 1;
        users = [];
        posts = [];
        comments = [];
        fetchAndRenderComments();
        editButton.textContent = '댓글 숨김';
        deleteButton.textContent = '댓글 삭제';
        // 권한 수정, 회원 삭제 버튼 표시
        editButton.style.display = 'block';
        deleteButton.style.display = 'block';
        // 다른 기능 버튼의 활성화 클래스 제거
        userManagementButton.classList.remove('active');
        postManagementButton.classList.remove('active');
        // 현재 기능 버튼에 활성화 클래스 추가
        commentManagementButton.classList.add('active');
    });

    paginationContainer.addEventListener('click', event => {
        if (event.target.classList.contains('page-button')) {
            currentPage = parseInt(event.target.dataset.page);

            if (userManagementButton.classList.contains('active')) {
                renderUsersForPage(currentPage);
            } else if (postManagementButton.classList.contains('active')) {
                renderPostsForPage(currentPage);
            } else if (commentManagementButton.classList.contains('active')) {
                renderCommentsForPage(currentPage);
            }
        }
    });

    // 수정 버튼 클릭 시 실행되는 함수
    editButton.addEventListener('click', () => {
        const checkedCheckboxes = document.querySelectorAll('.user-checkbox:checked');

        if (userManagementButton.classList.contains('active')) {
            if (checkedCheckboxes.length === 1) {
                if (confirm('회원의 권한을 변경시키겠습니까?')) {
                    const userId = checkedCheckboxes[0].getAttribute('data-userid');
                    const userRole = checkedCheckboxes[0].getAttribute('data-userrole');

                    let newRole = '';

                    if (userRole === 'USER') {
                        newRole = 'ADMIN';
                    } else if (userRole === 'ADMIN') {
                        newRole = 'USER';
                    }

                    // 권한 수정 API 호출
                    fetch(`/api/${userId}/auth`, {
                        method: 'PUT',
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('accessToken'),
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            newRole: newRole // 새로운 권한 정보를 전달
                        })
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to update user authorization');
                            }
                            return response.text();
                        })
                        .then(responseText => {
                            alert(responseText);
                            fetchAndRenderUsers();
                        })
                        .catch(error => console.error('Error updating user authorization:', error));
                }
            } else {
                alert('하나의 유저를 선택해주세요.');
            }
        } else if (postManagementButton.classList.contains('active')) {
            const checkedPostCheckbox = document.querySelector('.user-checkbox:checked');

            if (checkedPostCheckbox) {
                const postId = checkedPostCheckbox.getAttribute('data-postid');

                // 게시글 정보를 가져와서 수정 창을 띄우기
                fetch(`/api/posts/${postId}`, {
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to fetch post');
                        }
                        return response.json();
                    })
                    .then(post => {
                        const shouldHide = confirm('게시글을 숨김 처리하시겠습니까?');

                        if (shouldHide) {
                            // 게시글 수정 API 호출
                            fetch(`/api/posts/${postId}/admin`, {
                                method: 'PUT',
                                headers: {
                                    'Authorization': 'Bearer ' + localStorage.getItem('accessToken'),
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    title: "숨김 처리된 게시글입니다.",
                                    content: "숨김 처리된 게시글입니다.",
                                    category: "",
                                    completed: false
                                })
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Failed to update post');
                                    }
                                    return response.text();
                                })
                                .then(responseText => {
                                    alert(responseText);
                                    fetchAndRenderPosts();
                                })
                                .catch(error => console.error('Error updating post:', error));
                        }
                    })
                    .catch(error => console.error('Error fetching post:', error));
            } else {
                alert('수정할 게시글을 선택해주세요.');
            }
        } else if (commentManagementButton.classList.contains('active')) {
            const checkedCommentCheckbox = document.querySelector('.user-checkbox:checked'); // 수정: user-checkbox -> comment-checkbox

            if (checkedCommentCheckbox) {
                const commentId = checkedCommentCheckbox.getAttribute('data-commentid');

                const shouldHide = confirm('댓글을 숨김 처리하시겠습니까?');

                if (shouldHide) {
                    // 댓글 숨김 처리 API 호출
                    fetch(`/api/posts/comments/${commentId}/admin`, { // 수정: '/api/posts/comments/' -> API 엔드포인트에 맞게 변경
                        method: 'PUT',
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('accessToken'),
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            content: "숨김 처리된 댓글입니다."
                        })
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to hide comment');
                            }
                            return response.text();
                        })
                        .then(responseText => {
                            alert(responseText);
                            fetchAndRenderComments();
                        })
                        .catch(error => console.error('Error hiding comment:', error));
                }
            } else {
                alert('숨김 처리할 댓글을 선택해주세요.');
            }
        }
    });



    // 삭제 버튼 클릭 시 실행되는 함수
    deleteButton.addEventListener('click', () => {
        const checkedCheckboxes = document.querySelectorAll('.user-checkbox:checked');

        if (userManagementButton.classList.contains('active')) {
            if (checkedCheckboxes.length === 1) {
                const userId = checkedCheckboxes[0].getAttribute('data-userid');

                if (confirm('회원을 탈퇴시키겠습니까?')) {
                    fetch(`/api/${userId}/auth`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                        }
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to delete user');
                            }
                            return response.text();
                        })
                        .then(responseText => {
                            alert(responseText);
                            fetchAndRenderUsers();
                        })
                        .catch(error => console.error('Error deleting user:', error));
                }
            } else if (checkedCheckboxes.length === 0) {
                alert('삭제할 유저를 선택해주세요.');
            } else {
                alert('하나의 유저만 선택해주세요.');
            }
        } else if (postManagementButton.classList.contains('active')) {
            // 게시글 삭제 기능 추가
            if (checkedCheckboxes.length === 1) {
                const postId = checkedCheckboxes[0].getAttribute('data-postid');

                if (confirm('게시글을 삭제하시겠습니까?')) {
                    fetch(`/api/posts/${postId}/admin`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                        }
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to delete post');
                            }
                            return response.text();
                        })
                        .then(responseText => {
                            alert(responseText);
                            fetchAndRenderPosts();
                        })
                        .catch(error => console.error('Error deleting post:', error));
                }
            } else if (checkedCheckboxes.length === 0) {
                alert('삭제할 게시글을 선택해주세요.');
            } else {
                alert('하나의 게시글만 선택해주세요.');
            }
        } else if (commentManagementButton.classList.contains('active')) {
            const checkedCommentCheckbox = document.querySelector('.user-checkbox:checked');

            if (checkedCommentCheckbox) {
                const commentId = checkedCommentCheckbox.getAttribute('data-commentid');

                if (confirm('댓글을 삭제하시겠습니까?')) {
                    fetch(`/api/posts/comments/${commentId}/admin`, {
                        method: 'DELETE',
                        headers: {
                            'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                        }
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to delete comment');
                            }
                            return response.text();
                        })
                        .then(responseText => {
                            alert(responseText);
                            fetchAndRenderComments(); // 삭제 후 댓글 목록을 다시 불러와서 렌더링
                        })
                        .catch(error => console.error('Error deleting comment:', error));
                }
            } else {
                alert('삭제할 댓글을 선택해주세요.');
            }
        }

    });


    function fetchAndRenderUsers() {
        fetch('/api/users', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch users');
                }
                return response.json();
            })
            .then(responseUsers => {
                users = responseUsers; // 사용자 정보를 저장
                totalUsers = users.length;
                renderPagination();
                userInfoList.innerHTML = '';
                renderUsersForPage(currentPage);
            })
            .catch(error => console.error('Error fetching users:', error));
    }

    function fetchAndRenderPosts() {
        fetch('/api/posts', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch posts');
                }
                return response.json();
            })
            .then(responsePosts => {
                posts = responsePosts; // 게시물 정보를 저장
                totalPosts = posts.length;
                renderPagination();
                userInfoList.innerHTML = '';
                renderPostsForPage(currentPage);
            })
            .catch(error => console.error('Error fetching posts:', error));
    }

    function fetchAndRenderComments() {
        fetch('/api/comments', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch comments');
                }
                return response.json();
            })
            .then(responseComments => {
                comments = responseComments; // 댓글 정보를 저장
                totalComments = comments.length;
                renderPagination();
                userInfoList.innerHTML = '';
                renderCommentsForPage(currentPage);
            })
            .catch(error => console.error('Error fetching comments:', error));
    }



    function renderPagination() {
        let totalPages;

        if (userManagementButton.classList.contains('active')) {
            totalPages = Math.ceil(users.length / userPerPage);
        } else if (postManagementButton.classList.contains('active')) {
            totalPages = Math.ceil(posts.length / userPerPage);
        } else if (commentManagementButton.classList.contains('active')) {
            totalPages = Math.ceil(comments.length / userPerPage);
        }

        paginationContainer.innerHTML = '';

        for (let i = 1; i <= totalPages; i++) {
            const pageButton = document.createElement('button');
            pageButton.classList.add('page-button');
            pageButton.textContent = i;
            pageButton.dataset.page = i;
            paginationContainer.appendChild(pageButton);
        }
    }


    function renderUsersForPage(page) {
        const startIndex = (page - 1) * userPerPage;
        const endIndex = startIndex + userPerPage;
        const usersToShow = users.slice(startIndex, endIndex);

        userInfoList.innerHTML = '';

        usersToShow.forEach(user => {
            const userDiv = document.createElement('div');
            userDiv.classList.add('user-info');
            userDiv.innerHTML = `
        <table>
            <tr>
                <td><input type="checkbox" class="user-checkbox" data-userid="${user.id}"></td>
                <td>유저이름 : </td>
                <td>${user.username}</td>
            </tr>
            <tr>
                <td></td>
                <td>닉네임 : </td>
                <td>${user.nickname}</td>
            </tr>
            <tr>
                <td></td>
                <td>권한 : </td>
                <td>${user.role}</td>
            </tr>
        </table>
    `;
            userInfoList.appendChild(userDiv);
        });

    }

    function renderPostsForPage(page) {
        const startIndex = (page - 1) * userPerPage;
        const endIndex = startIndex + userPerPage;
        const postsToShow = posts.slice(startIndex, endIndex);

        userInfoList.innerHTML = '';

        postsToShow.forEach(post => {
            const postDiv = document.createElement('div');
            postDiv.classList.add('user-info');
            postDiv.innerHTML = `
            <table>
                <tr>
                    <td><input type="checkbox" class="user-checkbox" data-postid="${post.id}"></td>
                    <td>게시글 작성자 : </td>
                    <td>${post.nickname}</td>
                <tr>
                    <td></td>
                    <td>게시글 제목 : </td>
                    <td>${post.title}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>게시글 내용 : </td>
                    <td>${post.content.substring(0, 50)}...</td>
                </tr>
            </table>
        `;
            userInfoList.appendChild(postDiv);
        });
    }

    // // 날짜 형식 변환 함수
    // function formatDate(dateString) {
    //     const date = new Date(dateString);
    //     return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
    // }


    // 댓글 정보를 해당 페이지에 표시하는 함수
    function renderCommentsForPage(page) {
        const startIndex = (page - 1) * userPerPage;
        const endIndex = startIndex + userPerPage;
        const commentsToShow = comments.slice(startIndex, endIndex);

        userInfoList.innerHTML = '';

        commentsToShow.forEach(comment => {
            const commentDiv = document.createElement('div');
            commentDiv.classList.add('user-info');
            commentDiv.innerHTML = `
            <table>
                 <tr>
                    <td><input type="checkbox" class="user-checkbox" data-commentid="${comment.id}"></td>
                    <td>댓글 작성자 : </td>
                    <td>${comment.nickname}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>댓글 내용 : </td>
                    <td>${comment.content}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>게시글 제목 : </td>
                    <td>${comment.postTitle}</td>
            </table>
        `;
            userInfoList.appendChild(commentDiv);
        });
    }

    // 최초 로딩 시에는 아무런 정보도 표시하지 않습니다.
    renderUsersForPage(currentPage);
</script>

</body>
</html>