<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">


    <title>코끼리</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
  <script crossorigin="anonymous" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

  <!-- 로고 -->
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/1864/1864497.png" />

  <link rel="stylesheet" type="text/css"  href="/css/chatRoom.css">

  <style>

  </style>

</head>
<body>
<!-- 상단 메뉴 (+ 네비게이션 메뉴)-->
<div class="top">
    <div class="right">
        <a id="login" onclick="redirectToLoginPage()">
            <button>로그인</button>
        </a>
        <a id="logout" onclick="logout()">
            <button>로그아웃</button>
        </a>
        <a id="keeplogin" onclick="refreshAccessToken()">
            <button>로그인 연장</button>
        </a>
    </div>
    <div class="middle">
        <!-- 가운데 코끼리 글씨 및 로고  -->
        <img src="https://cdn-icons-png.flaticon.com/128/1864/1864497.png" style="width: 35px; height: 35px; cursor: pointer" onclick="gotoMain()"> <!-- 로고 이미지 추가 -->
        <div style="text-align: center;
                    cursor:pointer;
                    font-size: 35px;" onclick="gotoMain()">
            코끼리
        </div>
    </div>
    <div class="left">
        <!-- 알림, 우측 메뉴 슬라이드 -->
        <div class="notification-icon">
            <div style="position: relative;">
                <i class="far fa-bell" style="color: #cfcfcf;"></i>
                <span id="notificationBadge" class="nobadge" style="display:none;"></span>
            </div>
        </div>

        <div style="text-align: center;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <img src="https://cdn-icons-png.flaticon.com/128/8212/8212733.png" style="width: 40px; height: 40px;"> <!-- 로고 이미지 추가 -->
        </div>

        <div class="offcanvas offcanvas-start w-25" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header" style = "text-align: center; align-items:center;">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
                    <img src="https://cdn-icons-png.flaticon.com/128/1864/1864497.png" style="width: 40px; height: 40px;"> <!-- 로고 이미지 추가 -->
                    코끼리
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="list-group list-group-flush">
                <!-- 카테고리 버튼과 하위 메뉴 -->
                <button class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#categoryMenu">게시판 카테고리</button>
                <div id="categoryMenu" class="collapse">
                  <a href="/api/posts/categories/1" class="list-group-item list-group-item-action mini-list">협업 인원 모집</a>
                  <a href="/api/posts/categories/2" class="list-group-item list-group-item-action mini-list">스티디원 모집</a>
                  <a href="/api/posts/categories/3" class="list-group-item list-group-item-action mini-list">문제은행</a>
                  <a href="/api/posts/categories/4" class="list-group-item list-group-item-action mini-list">자유게시판</a>
                </div>

                <a href="/api/view/users" class="list-group-item list-group-item-action">마이페이지</a>
                <a href="/api/boards" class="list-group-item list-group-item-action">프로젝트 페이지</a>
                <a href="/api/chatRooms" class="list-group-item list-group-item-action">채팅 페이지</a> <!--채팅 페이지 테스트 중-->
                <a href="/api/view/admins" class="list-group-item list-group-item-action" th:if="${admin}">관리자 페이지</a> <!--서버에서 admin 여부 true/false로 가져오기-->

            </div>

        </div>

    </div>

</div>

<!-- 나머지 내용 -->
<div class="notification-list" id="notificationList">
    <div class="notification-list-header">
        <!-- 전체읽음 버튼 추가 -->
        <button id="markAllReadButton" class="mark-all-read-button">전체 읽음</button>
        알림
    </div>
</div>

<!-- 하단 게시판 -->
<div class="bottom">
    <div class="bottom-container">
        <div class="bottom-top">
            <div class="bottom-top-button">
                <a class="chatuser-btn" data-bs-toggle="modal" data-bs-target="#inviteModal">사용자 검색</a>
            </div>

            <!-- 초대 모달 창 -->
            <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModallabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">사용자 검색</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- 검색어 입력 창 -->
                            <input type="text" id="searchInput" class="form-control" placeholder="아이디 혹은 닉네임 검색...">

                            <!-- 검색 결과 목록 -->
                            <ul id="searchResults" class="list-group mt-2">
                              <!-- 검색 결과는 여기에 동적으로 추가될 것입니다. -->
                            </ul>

                            <!-- 선택한 결과를 표시할 곳 -->
                            <div id="selectedResultsModal"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="inviteUsers">채팅</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-bottom">
            <div class="chatlists">
                <ol class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-start" th:each="room: ${chatrooms}">
                        <a class="chatitems" style="display:flex; flex-direction: row; width: 100%;" th:href="@{|/api/chatRooms/${room.title}|}">
                            <img src="https://cdn-icons-png.flaticon.com/128/1864/1864497.png" alt="Image" class="list-number-image">
                            <div class="ms-2 me-auto" style="font-size: 14px;">
                                <div class="fw-bold" style="font-size: 18px;">
                                    <span th:text="${room.showUser}"></span>
                                </div>
                                <div class="ms-2 me-auto" th:text="${room.message}" style="color: #565656">Content for list item</div>
                            </div>
                        </a>
                        <span class="badge bg-primary rounded-pill" style="background-color: #afafaf !important;" th:text="${room.date}">14</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>

</div>

</body>

<script>
    function gotoMain() {
        window.location.href = "/main";
    }

    const Toast = Swal.mixin({
        toast: true,
        position: 'center-center',
        showConfirmButton: false,
        timer: 1000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    // 선택한 결과를 저장하는 배열
    var selectedResults = [];

    function addResultToSearchResults(user) {
        var resultItem = $("<li>")
                .addClass("list-group-item")
                .html(user.username + " | " + user.nickname);

        // 클릭 이벤트를 추가하여 선택/해제 토글
        resultItem.on("click", function() {
            var index = selectedResults.indexOf(user);

            if (index === -1) {
                // 선택한 결과가 배열에 없으면 선택 추가
                selectedResults.push(user);

                // 선택한 결과를 버튼으로 만들어서 #selectedResultsModal에 추가
                var selectedButton = $("<button>")
                        .addClass("btn btn-dark")
                        .html(user. username);

                selectedButton.on("click", function() {
                    // 선택한 결과를 배열에서 제거
                    var selectedIndex = selectedResults.indexOf(user);
                    if (selectedIndex !== -1) {
                        selectedResults.splice(selectedIndex, 1);
                    }

                    // 버튼을 제거
                    selectedButton.remove();
                });

                // #selectedResultsModal에 버튼 추가
                $("#selectedResultsModal").append(selectedButton);
            } else {
                // 선택한 결과가 배열에 있으면 선택 해제
                selectedResults.splice(index, 1);

                // 선택한 결과를 버튼으로 만든 것을 제거
                var selectedButton = $("#selectedResultsModal").find("button:contains('" + user.username + "')");
                selectedButton.remove();
            }
        });

        // 검색 결과를 #searchResults에 추가
        $("#searchResults").append(resultItem);
    }

    const inviteUserBtn = document.getElementById('inviteUsers');
    inviteUserBtn.addEventListener('click', function () {

        var selectedTexts = [];
        $("#selectedResultsModal button").each(function() {
          selectedTexts.push($(this).text());
        });

        // 선택한 결과를 서버로 전송하고자 하는 코드 작성
        var selectedResultsJSON = JSON.stringify(selectedTexts);

        $.ajax({
            type: "POST",
            url : "/api/chatRooms",
            contentType: "application/json",
            data: JSON.stringify({ username : selectedTexts }),
            success: function (data) {
                window.location.href = data;
            }, error: function () {

            }
        })
    });

    $(document).ready(function() {
        $("#searchInput").on("input", function() {
            var searchText = $(this).val();

            // 검색어가 일정 길이 이상일 때만 서버에 요청
            if (searchText.length >= 3) {

                // 서버에 검색어 전달
                $.ajax({
                    type: "GET",
                    url: `/api/boards/search/`+searchText,
                    dataType: "json",
                    success: function(data) {
                        $("#searchResults").empty();
                        var users = data.content;

                        for (var i = 0; i < users.length; i++) {
                            var user = users[i];
                            addResultToSearchResults(user);
                        }
                    },
                    error: function(error) {
                    }
                });
            }
        });
    });

    $(document).ready(function() {
        var page = 0; // 초기 페이지 번호
        var size = 5; // 페이지 크기
        var loading = false; // 데이터 로딩 중인지 여부

        // 스크롤 이벤트 감지
        $('#inviteModal .modal-body').on('scroll', function() {
            var modalBody = $(this);
            var scrollHeight = modalBody[0].scrollHeight;
            var scrollTop = modalBody.scrollTop();
            var innerHeight = modalBody.innerHeight();

            // 스크롤이 페이지 하단에 도달하고 로딩 중이 아닌 경우 다음 페이지 요청
            if (scrollHeight - scrollTop === innerHeight && !loading) {
                page++;
                loadNextPage();
            }
        });

        // 다음 페이지 데이터 로드 함수
        function loadNextPage() {
            loading = true; // 데이터 로딩 중 플래그 설정
            var searchText = $("#searchInput").val();

            $.ajax({
                type: "GET",
                url: `/api/boards/search/${searchText}?page=${page}&size=${size}`,
                dataType: "json",
                success: function(data) {
                    // 데이터 로딩 완료 후 로딩 중 플래그 해제
                    loading = false;

                    // 받은 데이터를 화면에 추가 또는 렌더링
                    var users = data.content;
                    if (users.length > 0) {
                        for (var i = 0; i < users.length; i++) {
                            var user = users[i];
                            addResultToSearchResults(user);
                        }
                    } else {
                        // 데이터가 더 이상 없을 때 처리 (예: "데이터가 모두 로드됨" 메시지)
                    }
                },
                error: function(error) {
                }
            });
        }
    });
    
    $(document).ready(function () {
        pageSetting();

        // 페이지 로드 시 사용자 정보를 가져와서 알림 데이터를 불러옴
        const token = Cookies.get('Authorization');
        if(token){ // 토큰 있을 경우
            const notificationIcon = document.querySelector('.notification-icon');
            const notificationBadge = document.getElementById('notificationBadge');
            const notificationList = document.getElementById('notificationList');
            let isNotificationListOpen = false;
            let notificationsList = []; // 알림 데이터를 저장할 리스트
            let userId = null; // 사용자 아이디 변수 추가

            // 알림 데이터를 서버에서 불러와서 목록에 추가하는 함수
            const fetchNotifications = async (userId) => {
                try {
                    const response = await fetch(`/api/notifications/list/${userId}`);
                    if (response.ok) {
                        const notifications = await response.json();
                        notificationsList = notifications;
                        updateNotificationList();
                        updateNotificationIcon();
                    } else {
                        console.error('Error fetching notifications:', response.status);
                    }
                } catch (error) {
                    console.error('Error fetching notifications:', error);
                }
            };

            // 사용자 정보를 불러오는 함수
            const fetchUserInfo = async () => {
                try {
                    const response = await fetch('/api/get-user-info');
                    if (response.ok) {
                        const userData = await response.json();
                        if (userData && userData.id) {
                            userId = userData.id;
                            loadNotificationsFromServer(userId);
                        }
                    } else {
                        console.error('Error fetching user info:', response.status);
                    }
                } catch (error) {
                    console.error('Error fetching user info:', error);
                }
            };



            // 알림 목록 업데이트 함수
            const updateNotificationList = () => {
                notificationList.innerHTML = ''; // 목록 초기화
                notificationsList.forEach(notification => {
                    addNotificationToList(notification);
                });
                const listHeader = document.createElement('div');
                listHeader.className = 'notification-list-header';

                // Create the "전체 읽음" button
                const markAllReadButton = `<button id="markAllReadButton" class="mark-all-read-button">전체 읽음</button>`;
                listHeader.innerHTML = markAllReadButton; // innerHTML로 버튼 추가
                listHeader.innerHTML += '알림';

                notificationList.insertBefore(listHeader, notificationList.firstChild);

                // "전체 읽음" 버튼에 이벤트 리스너 연결
                const button = document.getElementById('markAllReadButton');
                button.addEventListener('click', function () {
                    Swal.fire({
                        icon: "waning",
                        title: "알림 전체 읽음처리 하시겠습니까?"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            markAllNotificationsAsRead();
                            window.location.reload();
                        }
                    })
                });

            };

            // 현재 시간과 주어진 시간 사이의 경과 시간을 계산하여 문자열로 반환하는 함수
            const formatTimeAgo = (notificationTime) => {
                const currentTime = new Date();
                const timeDifference = currentTime - new Date(notificationTime);

                if (timeDifference < 60000) { // 1분 미만
                    return "방금 전";
                } else if (timeDifference < 3600000) { // 1시간 미만
                    const minutes = Math.floor(timeDifference / 60000);
                    return `${minutes}분 전`;
                } else if (timeDifference < 86400000) { // 24시간 미만
                    const hours = Math.floor(timeDifference / 3600000);
                    return `${hours}시간 전`;
                } else {
                    const days = Math.floor(timeDifference / 86400000);
                    if(isNaN(days)){
                        return "방금 전";
                    } else {
                        return `${days}일 전`;
                    }
                }
            };

            // 알림 아이템 추가 함수
            const addNotificationToList = (notification) => {
                const listItem = document.createElement('div');
                listItem.className = notification.read ? 'notification-list-item read' : 'notification-list-item unread';
                const timeAgo = formatTimeAgo(notification.createdAt);
                listItem.innerHTML = `${notification.content}<br><span class="notification-time">${timeAgo}</span>`;
                listItem.onclick = () => {
                    handleNotificationItemClick(notification, listItem);
                };
                notificationList.insertBefore(listItem, notificationList.firstChild);
            };


            // 알림 읽음 처리 함수
            const markNotificationAsRead = (notification, listItem) => {
                if (!notification.read) {
                    notification.read = true;
                    listItem.classList.remove('unread');
                    listItem.classList.add('read');
                    updateNotificationIcon();

                    // AJAX 요청으로 서버에 알림 읽음 처리 요청 보내기
                    $.post(`/api/mark-notification-as-read/${notification.id}`)
                }
            };

            // 알림 아이템 클릭 처리 함수
            const handleNotificationItemClick = (notification, listItem) => {
                markNotificationAsRead(notification, listItem);
                window.location.href = notification.url;
            };

            // 알림 아이콘 업데이트 함수
            const updateNotificationIcon = () => {
                const unreadCount = notificationsList.filter(notification => !notification.read).length;
                if (unreadCount > 0) {
                    notificationIcon.classList.add('new-notification');
                    notificationBadge.style.display = "inline";
                    notificationBadge.innerText = unreadCount.toString();
                } else {
                    notificationIcon.classList.remove('new-notification');
                    notificationBadge.style.display = "none";
                    // notificationBadge.innerText = '';
                }
            };

            // 종모양 아이콘 클릭 시 알림 목록 표시/숨기기
            notificationIcon.addEventListener('click', () => {
                updateNotificationList();
                if (!isNotificationListOpen) {
                    notificationList.style.display = 'block';
                    isNotificationListOpen = true;
                } else {
                    notificationList.style.display = 'none';
                    isNotificationListOpen = false;
                }
            });

            // 페이지 로드 시 알림 데이터를 가져와서 표시
            const loadNotificationsFromServer = (userId) => {
                fetchNotifications(userId);
            };

            fetchUserInfo().then(() => {
                const sse = new EventSource(`/api/notifications/${userId}`);
                sse.onmessage = (event) => {
                    const notification = JSON.parse(event.data);
                    notificationsList.push(notification);
                    addNotificationToList(notification);
                    updateNotificationIcon();
                };
            });

            // 알림 전체 읽음 처리 함수
            function markAllNotificationsAsRead() {
                $.post(`/api/mark-all-notifications-as-read/${userId}`)
                    .done(function(response) {
                        Toast.fire({
                            icon: 'success',
                            title: "전체 읽음 처리 되었습니다!",
                        })
                    })
                    .fail(function(response) {
                        Toast.fire({
                            icon: 'error',
                            title: "전체 읽음 처리 실패!",
                        })
                    });
            }
        } // if문 종료
    });

    function removeToken() { // 토큰 삭제
        Cookies.remove('Authorization', {path: '/'});
    }

    /* 서버 통신 메서드 */
    function refreshAccessToken() { // 엑세스 토큰 갱신
        $.ajax({
            type: "GET",
            url: `/api/auth/refresh/access-token`,
            contentType: "application/json",
            success: function (data) {
                Toast.fire({
                  icon: 'success',
                  title: "로그인 연장 성공",
                })
            },
            error: function (data) {
                Toast.fire({
                    icon: 'error',
                    title: "로그인 연장 실패. 재로그인 부탁드립니다.",
                })
                redirectToLoginPage();
            }
        });
    }


    /* 페이지 첫 로드 메서드 */
    function pageSetting() {  // main page 세팅
        const token = Cookies.get('Authorization');
        // const rtoken = Cookies.get('RefreshToken');

        const loginBtn = document.getElementById('login');
        const logoutBtn = document.getElementById('logout');
        const keeploginBtn = document.getElementById('keeplogin');

        if(!token) {
            loginBtn.style.display = "inline-block";
            logoutBtn.style.display = "none";
            keeploginBtn.style.display = "none";
        } else {
            loginBtn.style.display = "none";
        }
    }

    function logout() { // 로그아웃
        $.ajax({
            type: "DELETE",
            url: `/api/auth/logout`,
            contentType: "application/json",
            success: function (data) {
            removeToken();
            Toast.fire({
                icon: 'success',
                title: "로그아웃 성공",
            }).then(function () {
                window.location.href = "/main";
            })
            },
            error: function () {
                Toast.fire({
                    icon: 'error',
                    title: "로그아웃 실패",
                }).then(function () {
                    window.location.reload();
                })
            }
        });
    }

    function redirectToLoginPage() {
        window.location.href = "/api/auth/login-page";
    }


</script>
</html>