<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Chat</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/1864/1864497.png" />

  <link rel="stylesheet" type="text/css"  href="/css/chat.css">

  <style>

  </style>

</head>
<body>
<noscript>
  <h2>죄송합니다</h2>
</noscript>

<div id="stars-container"></div>

<div id="chat-page" class="hidden">
  <div class="chat-container">
    <div class="chat-header">
      <h2 th:text="${board.title}">Chat</h2>

      <button class="goOut" id = "goOutBtn">뒤로가기</button>
    </div>

    <ul id="messageArea">

    </ul>
    <form id="messageForm" name="messageForm">
      <div class="form-group">
        <div class="input-group clearfix">
          <input type="text" id="message" placeholder="메시지 입력..." autocomplete="off" class="form-control"/>
          <button type="submit" class="primary">전송</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</body>

<script>
    // console.log = function() {};
    // 이걸 쓰면 콘솔에서 아무런 내역이 출력되지 않는다고 한다
    // https://m.blog.naver.com/qjawnswkd/222283176175
    'use strict';

    var username = '[[${username}]]';
    var nickname = '[[${nickname}]]';

    let url = window.location.pathname;
    let id = url.replace("/api/chat/", "");
    var chatRoomId = id;

    // 채팅방 뒤로가기
    const goOutBtn = document.getElementById('goOutBtn');
    goOutBtn.addEventListener('click', () => {
      window.location.href = '/api/boards/' + id;
    })

    $(document).ready(function() {
        onMessages();
        connect();
    });

    // 메시지를 입력하는 부분
    var messageInput = document.querySelector('#message');
    // 메시지를 로딩하는 부분
    var messageArea = document.querySelector('#messageArea');
    // 연결 확인하는 부분
    var connectingElement = document.querySelector('.connecting');

    var stompClient = null;

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, onConnected, onError);
    }

    // websocket이 연결된 경우 (확인 완료)
    function onConnected() {
        // Subscribe 해당 토픽을 구독함 (해당 boardid 에 대해서 구독)
        // stompClient.subscribe("/user/topic/" + chatRoomId, onMessages);
        stompClient.subscribe("/topic/" + chatRoomId, onMessageReceived);

        console.log("구독");
        // Tell your username to the server
        stompClient.send("/app/chat/adduser",
                {},
                JSON.stringify({nickname:nickname, username:username, type: 'ENTER', chatRoomId: chatRoomId})
        )
    }

    // websocket이 연결에 실패한 경우 (확인 완료 - 오류가 나지 않음)
    function onError(error) {
        connectingElement.textContent = 'Could not connect to WebSocket server. Please refresh this page to try again!';
        connectingElement.style.color = 'red';
    }

    function onMessages() {
        $.ajax({
            type: "GET",
            url : "/api/chat/messages/" + id,
            contentType : 'application/json',
            success: function (data) {
                if (data != null && data !== "") {
                    var chatting = data;

                    chatting.forEach(function (chatItem) {
                        var messageElement = document.createElement('li');
                        if(chatItem.type === 'ENTER') {
                            messageElement.classList.add('event-message');
                            chatItem.content = chatItem.username + chatItem.message;
                        } else if (chatItem.type === 'LEAVE') {
                            messageElement.classList.add('event-message');
                            chatItem.content = chatItem.username + chatItem.message;
                        } else {
                            var avatarElement = document.createElement('i');
                            var usernameElement = document.createElement('span');
                            messageElement.classList.add(chatItem.username === username ? 'chat-message2' : 'chat-message');

                            if (chatItem.url != null) {
                                avatarElement.style['background-image'] = 'url(' + chatItem.url + ')';
                                avatarElement.style['background-size'] = 'cover';
                            } else {
                                avatarElement.style['background-image'] = 'url(https://cdn-icons-png.flaticon.com/128/1864/1864497.png)';
                                avatarElement.style['background-size'] = 'cover';
                            }
                            usernameElement.appendChild(document.createTextNode(chatItem.nickname));
                            messageElement.appendChild(avatarElement);
                            messageElement.appendChild(usernameElement);
                        }

                        var textElement = document.createElement('p');
                        var messageText = document.createTextNode(chatItem.message);
                        textElement.appendChild(messageText);

                        messageElement.appendChild(textElement);

                        messageArea.appendChild(messageElement);
                    });

                    messageArea.scrollTop = messageArea.scrollHeight;
                }

            }
        })
    }

    function onMessageReceived(payload) {
        var chat = JSON.parse(payload.body);
        console.log(chat);

        var messageElement = document.createElement('li');

        if(chat.type === 'ENTER') {
            console.log(chat.type);
            messageElement.classList.add('event-message');
            chat.content = chat.username + chat.message;
            var textElement = document.createElement('p');
            var messageText = document.createTextNode(chat.message);
            textElement.appendChild(messageText);
            messageElement.appendChild(textElement);
            messageArea.appendChild(messageElement);
            messageArea.scrollTop = messageArea.scrollHeight;
        } else if (chat.type === 'LEAVE') {
            messageElement.classList.add('event-message');
            chat.content = chat.username + chat.message;
        } else {
            var avatarElement = document.createElement('i');
            var usernameElement = document.createElement('span');
            var textElement = document.createElement('p');

            messageElement.classList.add(chat.username === username ? 'chat-message2' : 'chat-message');
            if (chat.url != null) {
                avatarElement.style['background-image'] = 'url(' + chat.url + ')';
                avatarElement.style['background-size'] = 'cover';
            } else {
                avatarElement.style['background-image'] = 'url(https://cdn-icons-png.flaticon.com/128/1864/1864497.png)';
                avatarElement.style['background-size'] = 'cover';
            }

            console.log(chat.message);
            usernameElement.appendChild(document.createTextNode(chat.nickname));
            textElement.appendChild(document.createTextNode(chat.message));

            messageElement.appendChild(avatarElement);
            messageElement.appendChild(usernameElement);
            messageElement.appendChild(textElement);

            messageArea.appendChild(messageElement);
            messageArea.scrollTop = messageArea.scrollHeight;
        }
    }

    // usernameForm이 동작할 때 connect가 동작하도록 되어있으니
    // usernameForm이 동작하지 않아도 connect가 동작하도록 변경하면 됨.
    var messageForm = document.querySelector('#messageForm');
    messageForm.addEventListener('submit', sendMessage, true)

    // 메세지를 보낼 때마다 실행할 함수
    function sendMessage(event) {
        // 메세지 입력 필드에 입력된 값을 가져옴
        var messageContent = messageInput.value.trim();

        // 메세지가 존재하고 (공백이 아니고), 웹 소캣이 연결된 경우에만 메시지를 전송함
        if(messageContent && stompClient) {
            console.log(messageInput.value);

            var chatMessage = {
                chatRoomId: chatRoomId,
                username: username,
                nickname: nickname,
                message: messageInput.value,
                type: 'TALK'
            };

            // json으로 감싸서 서버로 전송
            stompClient.send("/app/chat/sending", {}, JSON.stringify(chatMessage));

            // messageInput 필드를 공백으로 처리
            messageInput.value = '';
        }

        event.preventDefault();
    }

    // 사용자 프로필 설정 (Random Color)
    function getAvatarColor(messageSender) {
        var hash = 0;
        for (var i = 0; i < messageSender.length; i++) {
            hash = 31 * hash + messageSender.charCodeAt(i);
        }

        var index = Math.abs(hash % colors.length);
        return colors[index];
    }

    // 아바타 프로필 컬러 랜덤 설정
    var colors = [
        '#2196F3', '#32c787', '#00BCD4', '#ff5652',
        '#ffc107', '#ff85af', '#FF9800', '#39bbb0'
    ];

    document.addEventListener("DOMContentLoaded", () => {
        const container = document.getElementById("stars-container");

        for (let i = 0; i < 100; i++) {
            const star = document.createElement("div");
            star.className = "star";
            star.style.left = `${Math.random() * 100}vw`;
            star.style.top = `${Math.random() * 100}vh`;
            container.appendChild(star);
        }
    });

</script>
</html>