<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><link rel="shortcut icon" href="#">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>

    <title>Elephant</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/1864/1864497.png" />
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
<div>
    <header id="flexHeader">
        <a href="/">
<!--
                        <img class="logo" src="images/elephant2.png">
-->
            <img class="logo" src="https://cdn-icons-png.flaticon.com/128/1864/1864497.png"
                 alt="Button Icon">
        </a>

        <div class="menu">
            <ul>
                <li><a class="nav-link" href="/main">Home</a></li>
                <li><a class="nav-link" href="/api/posts/categories/1">Project</a></li>
                <li><a class="nav-link" href="/api/posts/categories/2">Study</a></li>
                <li><a class="nav-link" href="/api/posts/categories/3">Exam</a></li>
                <li><a class="nav-link" href="/api/posts/categories/4">Etc</a></li>
                <li><a class="nav-link" href="/api/auth/login-page">Login</a></li>
            </ul>
        </div>
    </header>

    <div class="content">
        <h1> Let's Collaborate with us. </h1>
        <h2> Study And Take the exam with other ones. </h2>
        <h2> Join a project with nice people. </h2>
<!--        <a href="/main"> >> Go To Join </a>-->
    </div>
</div>

</body>
</html>