<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

  <title>코끼리</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

  <!-- 로고 -->
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/1864/1864497.png"/>

  <link rel="stylesheet" type="text/css"  href="/css/searchedPage.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <style>

  </style>
</head>
<body>

<!-- 상단 메뉴 (+ 네비게이션 메뉴)-->
<div class="header">
  <div class="right">
    <a id="login" onclick="redirectToLoginPage()">
      <button>로그인</button>
    </a>
    <a id="logout" onclick="logout()">
      <button>로그아웃</button>
    </a>
    <a id="keeplogin" onclick="refreshAccessToken()">
      <button>로그인 연장</button>
    </a>
  </div>
  <div class="middle">
    <!-- 가운데 코끼리 글씨 및 로고  -->
    <img src="https://cdn-icons-png.flaticon.com/128/1864/1864497.png" style="width: 35px; height: 35px; cursor: pointer" onclick="gotoMain()"> <!-- 로고 이미지 추가 -->
    <div style="text-align: center;
                    cursor:pointer;
                    font-size: 35px;" onclick="gotoMain()">
      코끼리
    </div>
  </div>
  <div class="left">
    <!-- 알림, 우측 메뉴 슬라이드 -->
    <div class="notification-icon">
      <div style="position: relative;">
        <i class="far fa-bell" style="color: #cfcfcf;"></i>
        <span id="notificationBadge" class="nobadge" style="display:none;"></span>
      </div>
    </div>

    <div style="text-align: center;" type="button" data-bs-toggle="offcanvas"
         data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
      <img src="https://cdn-icons-png.flaticon.com/128/8212/8212733.png"
           style="width: 40px; height: 40px;"> <!-- 로고 이미지 추가 -->
    </div>

    <div class="offcanvas offcanvas-start w-25" data-bs-scroll="true" tabindex="-1"
         id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header" style="text-align: center; align-items:center;">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel" style="color:#000">
          <img src="https://cdn-icons-png.flaticon.com/128/1864/1864497.png"
               style="width: 40px; height: 40px;"> <!-- 로고 이미지 추가 -->
          코끼리
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
      </div>

      <div class="list-group list-group-flush">
        <!-- 카테고리 버튼과 하위 메뉴 -->
        <button class="list-group-item list-group-item-action" data-bs-toggle="collapse"
                data-bs-target="#categoryMenu">게시판 카테고리
        </button>
        <div id="categoryMenu" class="collapse">
          <a href="/api/posts/categories/1"
             class="list-group-item list-group-item-action mini-list">협업 인원 모집</a>
          <a href="/api/posts/categories/2"
             class="list-group-item list-group-item-action mini-list">스티디원 모집</a>
          <a href="/api/posts/categories/3"
             class="list-group-item list-group-item-action mini-list">문제은행</a>
          <a href="/api/posts/categories/4"
             class="list-group-item list-group-item-action mini-list">자유게시판</a>
        </div>

        <a href="/api/view/users" class="list-group-item list-group-item-action">마이페이지</a>
        <a href="/api/boards" class="list-group-item list-group-item-action">프로젝트 페이지</a>
        <a href="/api/chatRooms" class="list-group-item list-group-item-action">채팅 페이지</a> <!--채팅 페이지 테스트 중-->
        <a href="/api/view/admins" class="list-group-item list-group-item-action" th:if="${admin}">관리자 페이지</a> <!--서버에서 admin 여부 true/false로 가져오기-->


      </div>

    </div>

  </div>

</div>

<!-- 나머지 내용 -->
<div class="notification-list" id="notificationList">
  <div class="notification-list-header">
    <!-- 전체읽음 버튼 추가 -->
    <button id="markAllReadButton" class="mark-all-read-button">전체 읽음</button>
    알림
  </div>
</div>


<!--상단바 아래 제목과 게시글 영역-->
<div class="bottom">
  <div class="bottomone">
    <div class="bottomonewrapper">
      <!--카테고리 출력-->
      <div class="text-center">
        <text th:text="${categoryName}">Category</text>
      </div>

      <!--검색 창-->
      <div id="search-bar">
        <input type="text" id="search-input" placeholder="게시글 제목 검색"
               style="height: 34px; padding:10px;" th:value="${searchedTitle}">
        <button style="
                background-color: #e6e6e6; color: #1a1313;
                border:none; margin-left: 10px;" class="btn btn-primary" th:onclick="'searchByTitle(\'' + ${category} + '\')'">검색
        </button>
      </div>

      <!-- 게시글 생성 버튼 -->
      <div class="button-center">
        <button type="button" class="btn btn-primary" id="create-post-button"
                style="
                background-color: #e6e6e6; color: #1a1313;
                border:none;" data-bs-toggle="modal" data-bs-target="#exampleModal">게시글 생성
        </button>
      </div>
    </div>
  </div>

  <div class="bottomtwo">
    <div class="list-group list-group-flush" style="width: 80%">

      <a class="list-group-item" aria-current="true" >
        <div class="d-flex w-75 justify-content-between">
          <h5 class="card-title mb-0">제목</h5>
          <p class="card-text mb-0">내용</p>
        </div>
        <div class="d-flex w-25 justify-content-between">
          <div style="width: 40%; display: flex; justify-content: center; align-items: center;">
            <p class="mb-1">닉네임</p>
          </div>
          <div style="width: 30%; text-align: center; display: flex; justify-content: center; align-items: center;">
            <small>조회수</small>
          </div>
          <div style="width: 30%; text-align: center; display: flex; justify-content: center; align-items: center;">
            <small>작성날짜</small>
          </div>
        </div>
      </a>

      <a th:onclick="'gotoPost(\'' + ${post.id} + '\')'" class="list-group-item list-group-item-action" aria-current="true" th:each="post, postIndex : ${posts}">
        <div class="d-flex w-75 justify-content-between">
          <h5 class="card-title mb-0">
            <span th:text="|${(post.title.length() > 15 ? #strings.substring(post.title, 0, 15) + '...' : post.title)}|"></span>
            <span th:if="${post.getPostCommentList().size() > 0}" th:text="${' (' + post.getPostCommentList().size() + ')'}"> (댓글갯수)</span>
            <span th:if="${post.files != null}" style="font-size: smaller;">🖼️</span>
          </h5>
          <p class="card-text mb-0" th:text="|${post.content.length() > 50 ? #strings.substring(post.content, 0, 50) + '...' : post.content}|">Some quick example text to build on the card title ...</p>
        </div>
        <div class="d-flex w-25 justify-content-between">
          <div style="width: 40%; display: flex; justify-content: center; align-items: center;">
            <p class="mb-1" th:text="|${post.nickname}|">닉네임</p>
          </div>
          <div style="width: 30%; text-align: center; display: flex; justify-content: center; align-items: center;">
            <small th:text="|조회수 : ${post.view_cnt}|">조회수: 00회</small>
          </div>
          <div style="width: 30%; text-align: center; display: flex; justify-content: center; align-items: center;">
            <small th:text="${#temporals.format(post.createdAt, 'MM월 dd일 HH:mm:ss')}">11/11 11:11:11</small>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!--페이징 처리 코드 -->
  <div class="bottomthree">
    <!-- 페이징처리 시작 -->
    <div th:if="${!posts.isEmpty()}">
      <ul class="pagination justify-content-center custom-pagination">
        <li class="page-item" th:classappend="${!posts.hasPrevious()} ? 'disabled'">
          <a class="page-link"
             th:href="@{|?title=${searchedTitle}&page=${posts.getPageable().getPageNumber() - 1}|}">
            <span>이전</span>
          </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, posts.getTotalPages() -1)}"
            th:if="${page >= page - 5 and page <= page + 5}"
            class="page-item">
          <a th:text="${page + 1}" class="page-link"
             th:href="@{|?title=${searchedTitle}&page=${page + 1}|}"
             th:style="${page == posts.getPageable().getPageNumber()} ? 'background-color: #f5f5fa;' : ''">1</a>
        </li>


        <li class="page-item" th:classappend="${!posts.hasNext()} ? 'disabled'">
          <a class="page-link" th:href="@{|/api/posts/categories/${category}/titles?title=${searchedTitle}&page=${posts.getPageable().getPageNumber() + 2}|}">
            <span>다음</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 페이징처리 끝 -->
  </div>

</div>

<script>
  const Toast = Swal.mixin({
    toast: true,
    position: 'center-center',
    showConfirmButton: false,
    timer: 1000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })

  function gotoMain() {
    window.location.href = "/main";
  }

  // 게시글 생성 버튼 클릭 이벤트 핸들러
  $("#create-post-button").click(function () {
    // 게시글 생성 페이지로 이동
    window.location.replace("/api/post-page");
  });

  // 제목으로 게시글 검색
  function searchByTitle(category) {
    const searchInput = document.getElementById("search-input").value;

    // 검색 결과 페이지로 이동
    window.location.replace("/api/posts/categories/" + category + "/titles?title=" + searchInput);
  }


  // header js 코드 추가
  $(document).ready(function () {
    pageSetting();

    // 페이지 로드 시 사용자 정보를 가져와서 알림 데이터를 불러옴
    const token = Cookies.get('Authorization');
    if(token){ // 토큰 있을 경우
      const notificationIcon = document.querySelector('.notification-icon');
      const notificationBadge = document.getElementById('notificationBadge');
      const notificationList = document.getElementById('notificationList');
      let isNotificationListOpen = false;
      let notificationsList = []; // 알림 데이터를 저장할 리스트
      let userId = null; // 사용자 아이디 변수 추가

      // 알림 데이터를 서버에서 불러와서 목록에 추가하는 함수
      const fetchNotifications = async (userId) => {
        try {
          const response = await fetch(`/api/notifications/list/${userId}`);
          if (response.ok) {
            const notifications = await response.json();
            notificationsList = notifications;
            updateNotificationList();
            updateNotificationIcon();
          } else {
            console.error('Error fetching notifications:', response.status);
          }
        } catch (error) {
          console.error('Error fetching notifications:', error);
        }
      };

      // 사용자 정보를 불러오는 함수
      const fetchUserInfo = async () => {
        try {
          const response = await fetch('/api/get-user-info');
          if (response.ok) {
            const userData = await response.json();
            if (userData && userData.id) {
              userId = userData.id;
              loadNotificationsFromServer(userId);
            }
          } else {
            console.error('Error fetching user info:', response.status);
          }
        } catch (error) {
          console.error('Error fetching user info:', error);
        }
      };



      // 알림 목록 업데이트 함수
      const updateNotificationList = () => {
        notificationList.innerHTML = ''; // 목록 초기화
        notificationsList.forEach(notification => {
          addNotificationToList(notification);
        });
        const listHeader = document.createElement('div');
        listHeader.className = 'notification-list-header';

        // Create the "전체 읽음" button
        const markAllReadButton = `<button id="markAllReadButton" class="mark-all-read-button">전체 읽음</button>`;
        listHeader.innerHTML = markAllReadButton; // innerHTML로 버튼 추가
        listHeader.innerHTML += '알림';

        notificationList.insertBefore(listHeader, notificationList.firstChild);

        // "전체 읽음" 버튼에 이벤트 리스너 연결
        const button = document.getElementById('markAllReadButton');
        button.addEventListener('click', function () {
          markAllNotificationsAsRead();
        });

      };

      // 현재 시간과 주어진 시간 사이의 경과 시간을 계산하여 문자열로 반환하는 함수
      const formatTimeAgo = (notificationTime) => {
        const currentTime = new Date();
        const timeDifference = currentTime - new Date(notificationTime);

        if (timeDifference < 60000) { // 1분 미만
          return "방금 전";
        } else if (timeDifference < 3600000) { // 1시간 미만
          const minutes = Math.floor(timeDifference / 60000);
          return `${minutes}분 전`;
        } else if (timeDifference < 86400000) { // 24시간 미만
          const hours = Math.floor(timeDifference / 3600000);
          return `${hours}시간 전`;
        } else {
          const days = Math.floor(timeDifference / 86400000);
          if(isNaN(days)){
            return "방금 전";
          } else {
            return `${days}일 전`;
          }
        }
      };

      // 알림 아이템 추가 함수
      const addNotificationToList = (notification) => {
        const listItem = document.createElement('div');
        listItem.className = notification.read ? 'notification-list-item read' : 'notification-list-item unread';
        const timeAgo = formatTimeAgo(notification.createdAt);
        listItem.innerHTML = `${notification.content}<br><span class="notification-time">${timeAgo}</span>`;
        listItem.onclick = () => {
          handleNotificationItemClick(notification, listItem);
        };
        notificationList.insertBefore(listItem, notificationList.firstChild);
      };


      // 알림 읽음 처리 함수
      const markNotificationAsRead = (notification, listItem) => {
        if (!notification.read) {
          notification.read = true;
          listItem.classList.remove('unread');
          listItem.classList.add('read');
          updateNotificationIcon();

          // AJAX 요청으로 서버에 알림 읽음 처리 요청 보내기
          $.post(`/api/mark-notification-as-read/${notification.id}`)
        }
      };

      // 알림 아이템 클릭 처리 함수
      const handleNotificationItemClick = (notification, listItem) => {
        markNotificationAsRead(notification, listItem);
        window.location.href = notification.url;
      };

      // 알림 아이콘 업데이트 함수
      const updateNotificationIcon = () => {
        const unreadCount = notificationsList.filter(notification => !notification.read).length;
        if (unreadCount > 0) {
          notificationIcon.classList.add('new-notification');
          notificationBadge.style.display = "inline";
          notificationBadge.innerText = unreadCount.toString();
        } else {
          notificationIcon.classList.remove('new-notification');
          notificationBadge.style.display = "none";
          // notificationBadge.innerText = '';
        }
      };

      // 종모양 아이콘 클릭 시 알림 목록 표시/숨기기
      notificationIcon.addEventListener('click', () => {
        updateNotificationList();
        if (!isNotificationListOpen) {
          notificationList.style.display = 'block';
          isNotificationListOpen = true;
        } else {
          notificationList.style.display = 'none';
          isNotificationListOpen = false;
        }
      });

      // 페이지 로드 시 알림 데이터를 가져와서 표시
      const loadNotificationsFromServer = (userId) => {
        fetchNotifications(userId);
      };

      fetchUserInfo().then(() => {
        const sse = new EventSource(`/api/notifications/${userId}`);
        sse.onmessage = (event) => {
          const notification = JSON.parse(event.data);
          notificationsList.push(notification);
          addNotificationToList(notification);
          updateNotificationIcon();
        };
      });

      // 알림 전체 읽음 처리 함수
      function markAllNotificationsAsRead() {
        $.post(`/api/mark-all-notifications-as-read/${userId}`)
                .done(function(response) {
                  Toast.fire({
                    icon: 'success',
                    title: "전체 읽음 처리 되었습니다!",
                  }).then(function () {
                    window.location.reload();
                  })
                })
                .fail(function(response) {
                  Toast.fire({
                    icon: 'error',
                    title: "전체 읽음 처리 실패!",
                  })
                });
      }
    } // if문 종료

    document.addEventListener('click', function(event) {
      const notificationList = document.getElementById('notificationList');
      const notificationIcon = document.querySelector('.notification-icon');
      const isNotificationListOpen = notificationList.style.display === 'block';

      if (isNotificationListOpen && !notificationList.contains(event.target) && !notificationIcon.contains(event.target)) {
        notificationList.style.display = 'none';
      }
    });

  });

  function gotoPost(postId) {
    const token = Cookies.get('Authorization');

    if(token){ // 토큰 있을 경우
      window.location.href = `/api/posts/${postId}`; // 클릭된 리스트 아이템에 맞는 링크로 이동
    } else {
      outOfLoginPage();
    }
  }

  function outOfLoginPage(){
    Swal.fire({
      title: '로그인한 사용자만 접근 가능합니다.',
      text: '로그인/회원가입 하러가기',
      icon: 'warning',

      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: '확인',
      cancelButtonText: '취소',

      reverseButtons: false, // 버튼 순서 거꾸로
    }).then(result => {
      if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
        redirectToLoginPage();
      }
    });
    Toast.fire({
      icon: 'error',
      title: "로그인 부탁드립니다.",
    })
  }

  $(document).ready(function () {
    pageSetting();
  });

  function removeToken() { // 토큰 삭제
    Cookies.remove('Authorization', {path: '/'});
  }

  /* 서버 통신 메서드 */
  function refreshAccessToken() { // 엑세스 토큰 갱신
    $.ajax({
      type: "GET",
      url: `/api/auth/refresh/access-token`,
      contentType: "application/json",
      success: function (data) {
        // console.log(data);
        Toast.fire({
          icon: 'success',
          title: "로그인 연장 성공",
        })
      },
      error: function (data) {
        // console.log(data);
        Toast.fire({
          icon: 'error',
          title: "로그인 연장 실패. 재로그인 부탁드립니다.",
        })
        redirectToLoginPage();
      }
    });
  }

  /* 페이지 첫 로드 메서드 */
  function pageSetting() {  // main page 세팅
    const token = Cookies.get('Authorization');

    // console.log(token);
    // console.log(rtoken);

    const loginBtn = document.getElementById('login');
    const logoutBtn = document.getElementById('logout');
    const keeploginBtn = document.getElementById('keeplogin');

    if (!token) {
      loginBtn.style.display = "inline-block";
      logoutBtn.style.display = "none";
      keeploginBtn.style.display = "none";
    } else {
      loginBtn.style.display = "none";
    }

  }

  function logout() { // 로그아웃
    $.ajax({
      type: "DELETE",
      url: `/api/auth/logout`,
      contentType: "application/json",
      success: function (data) {
        removeToken();
        Toast.fire({
          icon: 'success',
          title: "로그아웃 성공",
        }).then(function () {
          window.location.href = "/main";
        })

      },
      error: function () {
        Toast.fire({
          icon: 'error',
          title: "로그아웃 실패",
        }).then(function () {
          window.location.reload();
        })
      }
    });
  }

  function redirectToLoginPage() {
    window.location.href = "/api/auth/login-page";
  }

</script>
</body>
</html>